<form class="dcf-form dcf-float-right" id="find-controls">
    <div class="offset-field-group" style="text-align:center">   <%# To center the Search button. %>
        <div class="dcf-grid-full dcf-grid-halves@sm dcf-col-gap-vw" style="text-align: left">  <%# Prevent the rest of the text from being center-aligned. %>
            <div style="width:200px">
                <label for="workshop-category">Workshop Category:</label>
                <select id="workshop-category" tabindex="1" name="workshop_category" class="dcf-input-select">
                    <option value="">All</option>
                    <% Resource.category_options.each do |cat_id, name| %>
                        <option <%= 'selected="selected"' if cat_id == params[:workshop_category].to_i %> value="<%= cat_id %>"><%= name %></option>
                    <% end %>
                </select>
            </div>
            <div style="width:200px">
                <label for="date">Go to another date:</label>
                <div class="dcf-datepicker">
                    <input id="date" name="date" title="Reservation Date" type="text" value="<%= date.strftime('%m/%d/%Y') %>" />
                </div>
            </div>
        </div>
        <button id="search-btn" tabindex="1" class="dcf-btn dcf-btn-inverse-primary" style="margin-top:10px;">Search</button>
    </div>
</form>

<h1 class="dcf-txt-h3">Today's Agenda <span class="dcf-subhead"><%= date.strftime('%B %d, %Y') %></h1>

<h2 class="dcf-txt-h4">Today's Hours</h2>
<% unless space_hour.nil? %>
    <%= space_hour.hours.map do |record|
        start_time = date + record[:start].minutes
        end_time = date + record[:end].minutes
        "#{record[:status].capitalize_all}: #{start_time.in_time_zone.strftime('%l:%M %P')} - #{end_time.in_time_zone.strftime('%l:%M %P')}"
    end.join(', ') %>
<% else %>
    The studio is open all day.
<% end %>

<h2 class="dcf-txt-h4" id="todays-reservations">Today's Reservations</h2>
<% if reservations.empty? %>
No reservations today. Hopefully someone will still come in to use the space!<br>
<% else %>
<table class="dcf-w-100% dcf-table dcf-table-bordered" aria-describedby="todays-reservations">
    <thead>
        <tr>
            <th>Name</th>
            <th>Tool</th>
            <th>Model</th>
            <th>Time</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    <% reservations.each do |reservation| %>
        <tr>
            <td>
                <% if reservation.user %>
                    <% if !reservation.user.expiration_date.nil? && reservation.user.expiration_date > Date.today %>
                        <%= reservation.user.full_name %>
                    <% else %>
                        <p style="color:#d00000;"><%= reservation.user.full_name %> </p>
                    <% end %>
                <% elsif !reservation.event.nil? %>
                <strong>Event:</strong> <%= reservation.event.title %>
                <% end %>
            </td>
            <td>
                <%= reservation.resource.name %>
            </td>
            <td>
                <%= reservation.resource.model %>
            </td>
            <td>
            	<%= reservation.start_time.in_time_zone.strftime('%l:%M %P') %><br>
            	<%= reservation.length %> minutes
            </td>
            <td>
                <form class="dcf-form delete-form" method="POST" action="/admin/agenda/reservations/<%= reservation.id %>/remove/">
                <button class="dcf-btn dcf-btn-primary" type="submit">Remove</button>
                </form>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
<% end %>
<h2 class="dcf-txt-h4 dcf-mt-4" id="todays-events">Today's Events</h4>
<% if events.empty? %>
No events today. Perhaps you'd like to create one?<br>
<a href="/admin/events/create/" class="dcf-mt-6 dcf-btn dcf-btn-primary">New Event</a>
<% else %>
<table class="dcf-w-100% dcf-table dcf-table-bordered" aria-describedby="todays-events">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date/Location</th>
            <th>Type</th>
            <th>Trainer</th>
        </tr>
    </thead>
    <tbody>
    <% events.each do |event| %>
        <tr>
            <td>
                <a title="Edit Event" href="<%= event.edit_link %>"><%= event.title %></a>
            </td>
            <td>
                <%= event.start_time.in_time_zone.strftime('%m/%d/%Y @ %l:%M %P') %><br>
                <%= event.location.name %>
            </td>
            <td>
                <%= event.type.name %>
            </td>
            <td>
                <% if event.trainer_id.nil?%>
                    No trainer assigned
                <% else %>
                    <%= trainers[event.trainer_id]%>
                <% end %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
<br>
<a href="/admin/events/" class="dcf-btn dcf-btn-secondary">Go To Events</a>
<% end %>

<% append_script_declaration("WDN.initializePlugin('datepickers');") %>

<% append_script_declaration(%q[WDN.initializePlugin('jqueryui', [function() {
    $ = require('jquery');

    $('#search-btn').click(function (e) {
        e.preventDefault();
        var date = $('#date').val().split('/');
        var workshopCategory = $('#workshop-category').val();
        window.location = window.location.href.split('?')[0] + '?date=' + date[2] + '-' + date[0] + '-' + date[1] + '&workshop_category=' + workshopCategory;
    });
}]);]) %>