<div id="pagetitle">
    <h3>Edit User <%= user.username %></h3>
</div>

<form id="edit-user" action="" method="POST" enctype="multipart/form-data">
    <div class="dcf-grid dcf-col-gap-vw">
        <fieldset class="dcf-col-100% dcf-col-50%-start@sm"">
            <legend>User Details</legend>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" value="<%= user.username %>" />

            <label for="email">Email Address</label>
            <input type="text" id="email" name="email" value="<%= user.email %>" />

            <label for="first-name">First Name</label>
            <input type="text" id="first-name" name="first_name" value="<%= user.first_name %>" />

            <label for="last-name">Last Name</label>
            <input type="text" id="last-name" name="last_name" value="<%= user.last_name %>" />

            <label for="university-status">University Status</label>
            <select id="university-status" name="university_status">
                <% USER_STATII.each do |word| %>
                    <option <%= 'selected="selected"' if user.university_status == word %> value="<%= word %>"><%= word %></option>
                <% end %>
            </select>

            <label for="studio-status">Studio Status</label>
            <select id="studio-status" name="studio_status">
            <% STUDIO_STATII.each do |desc, value| %>
                <option <%= 'selected="selected"' if user.space_status == value %> value="<%= value %>"><%= desc %></option>
            <% end %>
            </select>

            <label for="expiration-date">Membership Expiration Date</label>
            <div class="date-time-select"><span class="wdn-icon-calendar"></span>
            <input id="expiration-date" name="expiration_date" title="Membership Expiration Date" type="text" class="datepicker full-width" value="<%= user.expiration_date.strftime('%m/%d/%Y') if user.expiration_date %>" />
            </div>

            <label for="imagedata">User Image</label>
            <div>
                <% unless user.imagedata.nil? %>
                    <img src="<%= user.image_src %>" alt="Image for User <%= user.username %>">
                    <br>
                    <input type="checkbox" name="remove_image" id="remove-image">
                    <label for="remove-image">Remove Image</label> 
                <% end %>
                <input type="file" name="imagedata" id="imagedata" title="User Image">
            </div>
        </fieldset>

        <% if @user.is_super_user? %>
        <div class="dcf-col-100% dcf-col-50%-end@sm"">
            <fieldset>
                <legend>Manager Permissions</legend>
                <% permissions.each do |perm| %>
                    <input <%= 'checked="checked"' if user.permissions.include?(perm) %> type="checkbox" id="permission-<%= perm.id %>" name="permission_<%= perm.id %>">
                    <label for="permission-<%= perm.id %>"><%= perm.name %> <%= '(Tools)' if perm.id == Permission::MANAGE_RESOURCES %></label><br>
                <% end %>
            </fieldset>
            <fieldset>
                <legend>Make Super User</legend>
                <label>Super Users can edit any user's permissions in the space and can create new Super Users, as well as
                remove your Super User status. Only give Super User to someone you <em>absolutely</em> trust.</label><br>
                <br>
                <input <%= 'checked="checked"' if user.permissions.include?(su_permission) %> type="checkbox" id="permission-<%= su_permission.id %>" name="permission_<%= su_permission.id %>">
                <label for="permission-<%= su_permission.id %>"><%= su_permission.name %></label><br>    
            </fieldset>
        </div>
        <% end %>
    </div>
    <button class="dcf-btn dcf-btn-primary" type="submit">Update</button>
</form>

<% append_script_declaration(%q[WDN.initializePlugin('jqueryui', [function() {
    $ = require('jquery');
    $('.datepicker').datepicker();
    $("LINK[href^='//unlcms.unl.edu/wdn/templates_4.0/scripts/plugins/ui/css/jquery-ui.min.css']").remove();
}]);]) %>