<h1 class="dcf-txt-h3"><%= tool.id.nil? ? 'Create Tool' : "Edit #{tool.name}" %></h1>

<form class="dcf-form" action="" method="POST">
    <div class="dcf-form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value='<%= tool.name %>'/>
    </div>

	<div class="dcf-form-group">
	    <label for="model">Model</label>
	    <input type="text" name="model" id="model" value='<%= tool.model if tool.id %>'/>
    </div>

    <div class="dcf-form-group">
        <label for="category-id">Category</label>
        <select id="category-id" name="category_id">
            <option value="">Select a Category (use this option for no category)</option>
            <% Resource.category_options.each do |value, label|
                selected = ''
                selected = ' selected="selected" ' if tool.category_id.to_i == value
            %>
            <option value="<%= value %>"<%= selected %>><%= label %></option>
            <% end %>
        </select>
    </div>

    <div class="dcf-form-group">
        <label for="description">Description</label>
        <textarea id="description" name="description"><%= tool.description %></textarea>
    </div>

	<div class="dcf-form-group dcf-input-checkbox">
		<input type="checkbox" <%= 'checked="checked"' if tool.needs_authorization || tool.id.nil? %> name='needs_authorization' id="needs-authorization">
		<label for="needs-authorization">Requires Authorization? <span class="dcf-txt-xs">(User must be approved before may use)</span></label>
	</div>

	<div class="dcf-form-group dcf-input-checkbox">
		<input type="checkbox" <%= 'checked="checked"' if tool.is_reservable || tool.id.nil? %> name='is_reservable' id="is-reservable">
		<label for="is-reservable">Requires Reservation? <span class="dcf-txt-xs">(User must reserve before may use)</span></label>
	</div>

	<div class="dcf-form-group">
        <label for="max-reservations-per-user">User Reservation Limit</label><br>
        <select id="max-reservations-per-user" name="max_reservations_per_user">
            <option value="">No Limit</option>
            <% for i in 1..20 do
                selected = tool.max_reservations_per_user == i ? ' selected=selected' : ''
            %>
            <option value="<%= i.to_s %>"<%= selected %>><%= i.to_s %></option>
            <% end %>
        </select>
    </div>

    <fieldset>
        <legend class="dcf-txt-sm">Reservation Minutes</legend>
        <div class="dcf-form-group">
            <div class="dcf-input-radio">
                <input type="radio" name="time_slot_type" id="time-slot-type-exact" value="exact" <%= 'checked="checked"' if tool.time_slot_type == 'exact' || tool.time_slot_type.nil? %>>
                <label for="time-slot-type-exact">Exactly</label>
            </div>
            <input class="dcf-w-10" type="number" name="minutes_per_reservation" id="minutes-per-reservation" value="<%= tool.minutes_per_reservation %>" aria-label="The exact minute limit value.">
        </div>

        <div class="dcf-form-group dcf-mt-6">
            <div class="dcf-input-radio">
                <input type="radio" name="time_slot_type" id="time-slot-type-range" value="range" <%= 'checked="checked"' if tool.time_slot_type == 'range' %>>
                <label for="time-slot-type-range">Range</label>
            </div>

            <div class="dcf-form-group">
                <label for="min-minutes-per-reservation">Min:</label>
                <input class="dcf-w-10" type="number" name="min_minutes_per_reservation" id="min-minutes-per-reservation" value="<%= tool.min_minutes_per_reservation %>">
            </div>
            <div class="dcf-form-group">
                <label for="max-minutes-per-reservation">Max:</label>
                <input class="dcf-w-10" type="number" name="max_minutes_per_reservation" id="max-minutes-per-reservation" value="<%= tool.max_minutes_per_reservation %>">
            </div>
            <div class="dcf-form-group">
                <label for="increment-minutes-per-reservation">Increment:</label>
                <input class="dcf-w-10" type="number" name="increment_minutes_per_reservation" id="increment-minutes-per-reservation" value="<%= tool.increment_minutes_per_reservation %>">
            </div>
        </div>
    </fieldset>

	<button type="submit" class="dcf-btn dcf-btn-primary">Save Tool</button>
</form>