<h1 class="dcf-txt-h3">Edit User <%= user.username %></h1>

<form class="dcf-form" id="edit-user" action="" method="POST" enctype="multipart/form-data">
    <div class="dcf-grid dcf-col-gap-vw">
        <fieldset class="dcf-col-100% dcf-col-50%-start@sm"">
            <legend>User Details</legend>

            <div class="dcf-form-group">
                <label for="username">Username</label>
                <input class="dcf-w-100%" type="text" id="username" name="username" value="<%= user.username %>" />
            </div>

            <div class="dcf-form-group">
                <label for="email">Email Address</label>
                <input class="dcf-w-100%" type="text" id="email" name="email" value="<%= user.email %>" />
            </div>

            <div class="dcf-form-group">
                <label for="first-name">First Name</label>
                <input class="dcf-w-100%" type="text" id="first-name" name="first_name" value="<%= user.first_name %>" />
            </div>

            <div class="dcf-form-group">
                <label for="last-name">Last Name</label>
                <input class="dcf-w-100%" type="text" id="last-name" name="last_name" value="<%= user.last_name %>" />
            </div>

            <div class="dcf-form-group">
                <label for="university-status">University Status</label>
                <select id="university-status" name="university_status">
                    <% USER_STATII.each do |word| %>
                        <option <%= 'selected="selected"' if user.university_status == word %> value="<%= word %>"><%= word %></option>
                    <% end %>
                </select>
            </div>

            <div class="dcf-form-group">
                <label for="studio-status">Studio Status</label>
                <select id="studio-status" name="studio_status">
                <% STUDIO_STATII.each do |desc, value| %>
                    <option <%= 'selected="selected"' if user.space_status == value %> value="<%= value %>"><%= desc %></option>
                <% end %>
                </select>
            </div>

            <div class="dcf-form-group">
                <div class="dcf-datepicker">
                    <label for="expiration-date">Membership Expiration Date</label>
                    <input id="expiration-date" name="expiration_date" title="Membership Expiration Date" type="text" value="<%= user.expiration_date.strftime('%m/%d/%Y') if user.expiration_date %>" />
                </div>
            </div>

            <div class="dcf-form-group">
                <label for="imagedata">User Image</label>
                <div>
                    <% unless user.imagedata.nil? %>
                        <img src="<%= user.image_src %>" alt="Image for User <%= user.username %>">
                        <div class="dcf-input-checkbox">
                            <input type="checkbox" name="remove_image" id="remove-image">
                            <label for="remove-image">Remove Image</label>
                        </div>
                    <% end %>
                    <input type="file" name="imagedata" id="imagedata" title="User Image">
                </div>
            </div>
        </fieldset>

        <% if @user.is_super_user? %>
        <div class="dcf-col-100% dcf-col-50%-end@sm"">
            <fieldset>
                <legend>Manager Permissions</legend>
                <% permissions.each do |perm| %>
                    <div class="dcf-input-checkbox">
                        <input <%= 'checked="checked"' if user.permissions.include?(perm) %> type="checkbox" id="permission-<%= perm.id %>" name="permission_<%= perm.id %>">
                        <label for="permission-<%= perm.id %>"><%= perm.name %> <%= '(Tools)' if perm.id == Permission::MANAGE_RESOURCES %></label>
                    </div>
                <% end %>
            </fieldset>
            <fieldset>
                <legend>Make Super User</legend>
                <p class="dcf-txt-sm">Super Users can edit any user's permissions in the space and can create new Super Users, as well as
                remove your Super User status. Only give Super User to someone you <em>absolutely</em> trust.</p>
                <div class="dcf-mt-3 dcf-input-checkbox">
                    <input <%= 'checked="checked"' if user.permissions.include?(su_permission) %> type="checkbox" id="permission-<%= su_permission.id %>" name="permission_<%= su_permission.id %>">
                    <label for="permission-<%= su_permission.id %>"><%= su_permission.name %></label>
                </div>
            </fieldset>
            <fieldset>
                <div class="dcf-input-checkbox">
                    <input <%= 'checked="checked"' if user.is_trainer == 1 %> type="checkbox" name="make_trainer" id="make-trainer">
                    <label for="make-trainer">Make Trainer</label>
                </div>
            </fieldset>
        </div>
        <% end %>
    </div>
    <button class="dcf-btn dcf-btn-primary" type="submit">Update</button>
</form>

<% append_script_declaration("WDN.initializePlugin('datepickers');") %>
