<div id="pagetitle">
<h3><%= tool.id.nil? ? 'Create Tool' : "Edit #{tool.name}" %></h3>
</div>

<form action="" method="POST">
	<label for="name">Name</label>
	<input type="text" name="name" id="name" value='<%= tool.name %>'/>

	<label for="model">Model</label>
	<input type="text" name="model" id="model" value='<%= tool.model %>'/>

	<label for="description">Description</label>
	<textarea id="description" name="description"><%= tool.description %></textarea>

	<div>
		<input type="checkbox" <%= 'checked="checked"' if tool.is_reservable || tool.id.nil? %> name='is_reservable' id="is-reservable">
		<label for="is-reservable">Requires Reservation?</label>
	</div>
	<div>
		<label for="minutes-per-reservation">Minutes Per Reservation</label>
		<input type="number" name="minutes_per_reservation" id="minutes-per-reservation" value="<%= tool.minutes_per_reservation %>">
	</div>
	<br>

	<button type="submit" class="wdn-button wdn-button-brand">Save Tool</button>
</form>