<h1 class="dcf-txt-h3"><%= tool.id.nil? ? 'Create Checkable Tool' : "Edit #{tool.tool_name}" %></h1>

<form class="dcf-form" style="width: clamp(20ch, 100%, 80ch);" action="" method="POST">
	<div class="dcf-form-group">
			<label for="name">Name</label>
			<input class="dcf-w-100%" type="text" name="name" id="name" value='<%= tool.tool_name %>'/>
	</div>
	<div class="dcf-form-group">
	    <label for="model">Model</label>
	    <input class="dcf-w-100%" type="text" name="model_number" id="model" value='<%= tool.model_number if tool.id %>'/>
    </div>
	<div class="dcf-form-group">
	    <label for="serial">Serial</label>
	    <input class="dcf-w-100%" type="text" name="serial_number" id="serial" value='<%= tool.serial_number if tool.id %>'/>
    </div>
    <div class="dcf-form-group">
        <label for="category-id">Category</label>
        <select id="category-id" name="category_id">
            <option value="">Select a Category (use this option for no category)</option>
            <% Resource.category_options.each do |value, label|
                selected = ''
                selected = ' selected="selected" ' if tool.category_id.to_i == value
            %>
            <option value="<%= value %>"<%= selected %>><%= label %></option>
            <% end %>
        </select>
    </div>

    <div class="dcf-form-group">
        <label for="description">Description</label>
        <textarea id="description" name="description"><%= tool.description %></textarea>
    </div>
	<button type="submit" class="dcf-btn dcf-btn-primary">Save Tool</button>
</form>