<section class="dcf-grid dcf-col-gap-vw">
    <% event_div_class = 'dcf-col-100%' %>
    <% if has_permission?(Permission::MANAGE_EVENTS) %>
    <% event_div_class = 'dcf-col-100% dcf-col-75%-end@sm' %>
    <nav class="dcf-col-100% dcf-col-25%-start@sm">
        <div class="toolbox">
            <h3>Toolbox</h3>
            <div class="tools">
                <label for="preset_id">Preset Event Template</label>
                <div>
                    <form id="create-from-preset" class="dcf-form" method="GET" action="/admin/events/create">
                        <select id="preset_id" style="width:100%;margin-top:10px;" name="preset_id">
                            <option value="0" selected>None</option>
                            <% preset_events.each do |preset_id| %>
                                <option value="<%= preset_id.id %>"><%= preset_id.event_name %></option>
                            <% end %>
                        </select>
                        <button type="submit" id="create-from-preset-btn" class="dcf-btn dcf-btn-primary" style="width:100%; margin-top:10px;">+ New Event from Preset</button>
                    </form>
                    <a class="dcf-btn dcf-btn-primary" style="width:100%; margin-top:10px" href="/admin/events/presets/">Event Presets</a>
                </div>
            </div>
        </div>
    </nav>
    
    <% end %>
    <div class="dcf-tabs-faked <%= event_div_class %>">
        <h3>Events</h3>
        <ol class="dcf-tabs-list dcf-list-bare dcf-mb-0" role="tablist">
            <li class="dcf-tabs-list-item dcf-mb-0" role="presentation"><a id="tab-upcoming" href="?tab=upcoming" class="dcf-tab dcf-d-block" role="tab" <%='tabindex="-1" aria-selected="true"' if tab == 'upcoming' %>>Upcoming</a></li>
            <li class="dcf-tabs-list-item dcf-mb-0" role="presentation"><a id="tab-past" href="?tab=past" class="dcf-tab dcf-d-block" role="tab" <%='tabindex="-1" aria-selected="true"' if tab == 'past' %>>Past</a></li>
            <% if SS_ID == 8 %>
                <li class="dcf-tabs-list-item dcf-mb-0" role="presentation"><a id="tab-timeless" href="?tab=timeless" class="dcf-tab dcf-d-block" role="tab" <%='tabindex="-1" aria-selected="true"' if tab == 'timeless' %>>Timeless</a></li>
            <% end %>
        </ol>
            <section id="status-<%= tab %>" role="tabpanel" tabindex="-1" class="dcf-tabs-panel" aria-labelledby="tab-<%= tab %>">
                <div class="event-page">
                    <h4><%= tab.capitalize %> Event Items</h4>
                    <form class="dcf-form dcf-mt-6 dcf-mb-6" id="find-controls">
                        <fieldset
                            class="dcf-w-fit-content dcf-collapsible-fieldset"
                            <%= 'hidden data-start-expanded="false"' if event_area.nil? && event_type.nil? %> 
                        >
                            <legend>Filters</legend>
                            <% if SS_ID === 1 %>
                                <div class="dcf-form-group dcf-w-100%">
                                    <label for="event-area">Shop Area:</label>
                                    <select id="event-area" name="event_area">
                                        <option value="">All</option>
                                        <option value="General" <%= 'selected="selected"' if !event_area.nil? && event_area == 'General' %>>General</option>
                                        <option value="Graphics Studio" <%= 'selected="selected"' if !event_area.nil? && event_area == 'Graphics Studio' %>>Graphics Studio</option>
                                        <option value="Metal Shop" <%= 'selected="selected"' if !event_area.nil? && event_area == 'Metal Shop' %>>Metal Shop</option>
                                        <option value="Rapid Prototyping" <%= 'selected="selected"' if !event_area.nil? && event_area == 'Rapid Prototyping' %>>Rapid Prototyping</option>
                                        <option value="Textiles" <%= 'selected="selected"' if !event_area.nil? && event_area == 'Textiles' %>>Textiles</option>
                                        <option value="Wood Shop" <%= 'selected="selected"' if !event_area.nil? && event_area == 'Wood Shop' %>>Wood Shop</option>
                                        <option value="Robotics" <%= 'selected="selected"' if !event_area.nil? && event_area == 'Robotics' %>>Robotics</option>
                                        <option value="Ceramics" <%= 'selected="selected"' if !event_area.nil? && event_area == 'Ceramics' %>>Ceramics</option>
                                    </select>
                                </div>
                            <% end %>
                            <div class="dcf-form-group dcf-w-100%">
                                <label for="event-type">Event Type:</label>
                                <select id="event-type" name="event_type">
                                    <option value="">All</option>
                                    <% Event.type_options.each do |cat_id, name| %>
                                        <option <%= 'selected="selected"' if cat_id == event_type.to_i %> value="<%= cat_id %>"><%= name %></option>
                                    <% end %>
                                </select>
                            </div>
                            <% if SS_ID === 1 %>
                                <div class="dcf-form-group dcf-w-100%">
                                    <label for="trainer_filter">Trainer:</label>
                                    <input
                                        id="trainer_filter"
                                        name="trainer_filter"
                                        class="dcf-w-100%"
                                        type="text"
                                        value="<%= trainer_filter if trainer_filter.present? %>"
                                    >
                                </div>
                            <% end %>
                            <div>
                                <input type="hidden" name="tab" id="tab" value="<%= tab %>">
                                <button id="search-btn" class="dcf-btn dcf-btn-inverse-primary">Search</button>
                            </div>
                        </fieldset>
                    </form>

                    <script>
                        window.addEventListener('inlineJSReady', function() {
                            WDN.initializePlugin('collapsible-fieldsets');
                        }, false);
                    </script>
                <div style="margin-bottom: 20px;">
                    <table class="dcf-w-100% dcf-table dcf-table-bordered" aria-label="Event Listings">
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <% if SS_ID == 1 %>
                                    <th scope="col">Shop Area</th>
                                <% end %>
                                <th scope="col">Date/Location</th>
                                <th scope="col">Signups</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        <% events.each do |event| %>
                            <% if !event.is_private || (event.is_private && has_permission?(Permission::MANAGE_EVENTS)) %>
                                <tr>
                                    <td class="small-hidden">
                                        <% if has_permission?(Permission::MANAGE_EVENTS) %>
                                        <a href="/admin/events/<%= event.id %>/edit/"><%= event.title %></a>
                                        <% else %>
                                        <%= event.title %>
                                        <% end %>
                                    </td>
                                    <% if SS_ID == 1 %>
                                        <td>
                                            <%= event.area.nil? ? 'General' : event.area %>
                                        </td>
                                    <% end %>
                                    <% if event.start_time == nil%>
                                        <td>
                                            <ul class="dcf-list-bare">
                                                <li>
                                                    Timeless Event<br>
                                                    <%= event.location.name %>
                                                </li>
                                            </ul>
                                        </td>
                                    <% else %>
                                        <td>
                                            <ul class="dcf-list-bare">
                                            <li>
                                                <%= event.start_time.in_time_zone.strftime('%m/%d/%Y @ %l:%M %P') %><br>
                                                <%= event.location.name %>
                                            </li>
                                            </ul>
                                        </td>
                                    <% end %>
                                    <td>
                                        <a href="/admin/events/<%= event.id %>/signup_list/"><%= event.signups.count %> signed up</a>
                                        <% unless event.max_signups.nil? %>
                                        <br><%= event.max_signups %> total slots
                                        <% end %>
                                    </td>
                                    <td>
                                    <% unless event.admin_notes.nil? %>
                                    <button class="dcf-mt-1 dcf-btn dcf-btn-secondary dcf-btn-toggle-modal" data-toggles-modal="admin-notes-modal-<%= event.id %>" type="button">Notes</button>
                                    <div class="dcf-modal" id="admin-notes-modal-<%= event.id %>" hidden>
                                        <div class="dcf-modal-wrapper">
                                            <div class="dcf-modal-header">
                                                <h3>Admin Notes for <%= event.title %></h3>
                                                <button class="dcf-btn-close-modal">Close</button>
                                            </div>
                                            <div class="dcf-modal-content">
                                                <pre><%= event.admin_notes %></pre>
                                            </div>
                                        </div>
                                    </div>
                                    <% end %>
                                    <% if has_permission?(Permission::MANAGE_EVENTS) %>
                                    <form class="dcf-form delete-event delete-form" action="/admin/events/<%=event.id%>/delete/" method="POST">
                                    <button type="submit" class="dcf-mt-1 dcf-btn dcf-btn-primary">Delete</button>
                                    </form>
                                    <% end %>
                                    <% if event.info_link %>
                                    <form class="dcf-form inline-form">
                                    <a href="<%= event.info_link %>" class="dcf-mt-1 dcf-btn dcf-btn-primary">Link</a>
                                    </form>
                                    <% end %>
                                    </td>
                                </tr>
                                <% end %>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </section>
            <% if total_pages > 1 %>
                <% append_script_declaration("WDN.initializePlugin('pagination');") %>
                <nav class="dcf-pagination dcf-mt-3">
                    <ol class="dcf-list-bare dcf-list-inline">
                    <% if page != 1 %>
                        <% if SS_ID == 1 %>
                            <li><a class="dcf-pagination-prev" href="?tab=<%= tab %>&amp;page=<%= page-1 %>&amp;event_type=<%= event_type %>&amp;event_area=<%= event_area %>"">Prev</a></li>
                        <% else %>
                            <li><a class="dcf-pagination-prev" href="?tab=<%= tab %>&amp;page=<%= page-1 %>&amp;event_type=<%= event_type %>"">Prev</a></li>
                        <% end %>
                    <% end %>
                    <% before_ellipsis_shown = false; after_ellipsis_shown = false %>
                    <% (1..total_pages).each do |i| %>
                            <% if i == page %>
                                <li><span class="dcf-pagination-selected"><%= i %></span></li>
                            <% elsif (i <= 3 || i >= total_pages - 2 || i == page - 1 ||
                                        i == page - 2 || i == page + 1 || $i == page + 2) %>
                                <% if SS_ID == 1 %>
                                    <li><a href="?tab=<%= tab %>&amp;page=<%= i %>&amp;event_type=<%= event_type %>&amp;event_area=<%= event_area %>"><%= i %></a></li>
                                <% else %>
                                    <li><a href="?tab=<%= tab %>&amp;page=<%= i %>&amp;event_type=<%= event_type %>"><%= i %></a></li>
                                <% end %>
                            <% elsif (i < page && !before_ellipsis_shown) %>
                                <li><span class="dcf-pagination-ellipsis">...</span></li>
                                <% before_ellipsis_shown = true %>
                            <% elsif (i > page && !after_ellipsis_shown) %>
                                <li><span class="dcf-pagination-ellipsis">...</span></li>
                                <% after_ellipsis_shown = true %>
                            <% end %>
                    <% end %>
                    <% if page != total_pages %>
                        <% if SS_ID == 1 %>
                            <li><a class="dcf-pagination-next" href="?tab=<%= tab %>&amp;page=<%= page+1 %>&amp;event_type=<%= event_type %>&amp;event_area=<%= event_area %>">Next</a></li>
                        <% else %>
                            <li><a class="dcf-pagination-next" href="?tab=<%= tab %>&amp;page=<%= page+1 %>&amp;event_type=<%= event_type %>">Next</a></li>
                        <% end %>
                    <% end %>
                    </ol>
                </nav>
            <% end %>
        </div>
    </div>
</section>

<% append_script_declaration("WDN.initializePlugin('tabs');") %>
<% append_script_declaration(%q[require(['jquery'], function($) {
    $(document).ready(function() {
        $('.delete-event').submit(function (submit) {
            if (!window.confirm('Are you sure you want to delete this event?')) {
                submit.preventDefault();
            }
        });
    });
});]) %>
