<section class="dcf-grid dcf-col-gap-vw">
    <% event_div_class = 'dcf-col-100%' %>
    <% if has_permission?(Permission::MANAGE_EVENTS) %>
    <% event_div_class = 'dcf-col-100% dcf-col-75%-end@sm' %>
    <nav class="dcf-col-100% dcf-col-25%-start@sm">
        <div class="toolbox">
            <h3>Toolbox</h3>
            <div class="tools">
                <label for="preset_id">Preset Event Template</label>
                <div>
                    <form id="create-from-preset" class="dcf-form" method="GET" action="/admin/events/create">
                        <select id="preset_id" style="width:100%;margin-top:10px;" name="preset_id">
                            <option value="0" selected>None</option>
                            <% preset_events.each do |preset_id| %>
                                <option value="<%= preset_id.id %>"><%= preset_id.event_name %></option>
                            <% end %>
                        </select>
                        <button type="submit" id="create-from-preset-btn" class="dcf-btn dcf-btn-primary" style="width:100%; margin-top:10px;">+ New Event from Preset</button>
                    </form>
                    <a class="dcf-btn dcf-btn-primary" style="width:100%; margin-top:10px" href="/admin/events/presets/">Event Presets</a>
                </div>
            </div>
        </div>
    </nav>
    
    <% end %>
    <div class="dcf-tabs-faked <%= event_div_class %>">
        <h3>Events</h3>
        <ol class="dcf-tabs-list dcf-list-bare dcf-mb-0" role="tablist">
            <li class="dcf-tabs-list-item dcf-mb-0" role="presentation"><a id="tab-upcoming" href="?tab=upcoming" class="dcf-tab dcf-d-block" role="tab" <%='tabindex="-1" aria-selected="true"' if tab == 'upcoming' %>>Upcoming</a></li>
            <li class="dcf-tabs-list-item dcf-mb-0" role="presentation"><a id="tab-past" href="?tab=past" class="dcf-tab dcf-d-block" role="tab" <%='tabindex="-1" aria-selected="true"' if tab == 'past' %>>Past</a></li>
        </ol>
         <section id="status-<%= tab %>" role="tabpanel" tabindex="-1" class="dcf-tabs-panel" aria-labelledby="tab-<%= tab %>">
            <div class="event-page">
                <h4><%= tab.capitalize %> Event Items</h4>
                <table class="dcf-w-100% dcf-table dcf-table-bordered" aria-label="Event Listings">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Date/Location</th>
                            <th scope="col">Signups</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% events.each do |event| %>
                        <tr>
                            <td class="small-hidden">
                                <% if has_permission?(Permission::MANAGE_EVENTS) %>
                                <a href="/admin/events/<%= event.id %>/edit/"><%= event.title %></a>
                                <% else %>
                                <%= event.title %>
                                <% end %>
                            </td>
                            <td>
                                <ul class="dcf-list-bare">
                                    <li>
                                        <%= event.start_time.in_time_zone.strftime('%m/%d/%Y @ %l:%M %P') %><br>
                                        <%= event.location.name %>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <a href="/admin/events/<%= event.id %>/signup_list/"><%= event.signups.count %> signed up</a>
                                <% unless event.max_signups.nil? %>
                                <br><%= event.max_signups %> total slots
                                <% end %>
                            </td>
                            <td>
                            <% unless event.admin_notes.nil? %>
                            <button class="dcf-mt-1 dcf-btn dcf-btn-secondary dcf-btn-toggle-modal" data-toggles-modal="admin-notes-modal-<%= event.id %>" type="button">Notes</button>
                            <div class="dcf-modal" id="admin-notes-modal-<%= event.id %>" hidden>
                                <div class="dcf-modal-wrapper">
                                    <div class="dcf-modal-header">
                                        <h3>Admin Notes for <%= event.title %></h3>
                                        <button class="dcf-btn-close-modal">Close</button>
                                    </div>
                                    <div class="dcf-modal-content">
                                        <pre><%= event.admin_notes %></pre>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                            <% if has_permission?(Permission::MANAGE_EVENTS) %>
                            <form class="dcf-form delete-event delete-form" action="/admin/events/<%=event.id%>/delete/" method="POST">
                            <button type="submit" class="dcf-mt-1 dcf-btn dcf-btn-primary">Delete</button>
                            </form>
                            <% end %>
                            </td>
                        </tr>
                    <% end %>
                    </tbody>
                </table>
            </section>
            <% if total_pages > 1 %>
                <% append_script_declaration("WDN.initializePlugin('pagination');") %>
                <nav class="dcf-pagination dcf-mt-3">
                    <ol class="dcf-list-bare dcf-list-inline">
                    <% if page != 1 %>
                        <li><a class="dcf-pagination-prev" href="?tab=<%= tab %>&amp;page=<%= page-1 %>"">Prev</a></li>
                    <% end %>
                    <% before_ellipsis_shown = false; after_ellipsis_shown = false %>
                    <% (1..total_pages).each do |i| %>
                            <% if i == page %>
                                <li><span class="dcf-pagination-selected"><%= i %></span></li>
                            <% elsif (i <= 3 || i >= total_pages - 2 || i == page - 1 ||
                                        i == page - 2 || i == page + 1 || $i == page + 2) %>
                                <li><a href="?tab=<%= tab %>&amp;page=<%= i %>"><%= i %></a></li>
                            <% elsif (i < page && !before_ellipsis_shown) %>
                                <li><span class="dcf-pagination-ellipsis">...</span></li>
                                <% before_ellipsis_shown = true %>
                            <% elsif (i > page && !after_ellipsis_shown) %>
                                <li><span class="dcf-pagination-ellipsis">...</span></li>
                                <% after_ellipsis_shown = true %>
                            <% end %>
                    <% end %>
                    <% if page != total_pages %>
                        <li><a class="dcf-pagination-next" href="?tab=<%= tab %>&amp;page=<%= page+1 %>">Next</a></li>
                    <% end %>
                    </ol>
                </nav>
            <% end %>
        </div>
    </div>
</section>

<% append_script_declaration("WDN.initializePlugin('tabs');") %>
<% append_script_declaration(%q[require(['jquery'], function($) {
    $(document).ready(function() {
        $('.delete-event').submit(function (submit) {
            if (!window.confirm('Are you sure you want to delete this event?')) {
                submit.preventDefault();
            }
        });
    });
});]) %>
