<h1 class="dcf-txt-h3">NIS Manager Administration</h1>
<h2 class="dcf-txt-h5">
    Hello, <%= @user.full_name %> (<%= @user.username %>)
    <% if @user.is_super_user? %> <span class="dcf-form-help">Super User</span><% end %>
</h2>

<table class="dcf-w-100% dcf-table dcf-table-bordered" aria-label="User Action List">
	<tbody>
		<% if has_permission?(Permission::MANAGE_USERS) || has_permission?(Permission::SUPER_USER) %>
		<tr>
			<th scope="row"><strong>Users</strong></th>
			<td><%= user_count %> users</td>
			<td><a class="dcf-btn dcf-btn-primary" href="/admin/users/">Manage</a></td>
		</tr>
		<% end %>
		<% if has_permission?(Permission::MANAGE_EVENTS) %>
		<tr>
			<th scope="row"><strong>Events</strong></th>
			<td><%= upcoming_event_count %> upcoming events</td>
			<td><a class="dcf-btn dcf-btn-primary" href="/admin/events/">Manage</a></td>
		</tr>
		<% end %>
		<% if has_permission?(Permission::MANAGE_RESOURCES) %>
		<tr>
			<th scope="row"><strong>Tools</strong></th>
			<td><%= tool_count %> tools</td>
			<td><a class="dcf-btn dcf-btn-primary" href="/admin/tools/">Manage</a></td>
		</tr>
		<% end %>
		<% if has_permission?(Permission::MANAGE_SPACE_HOURS) %>
		<tr>
			<th scope="row"><strong>Hours</strong></th>
			<td>Today: 
<% unless space_hour.nil? %>
    <%= space_hour.hours.map do |record|
        start_time = date + record[:start].minutes
        end_time = date + record[:end].minutes
        "#{record[:status].capitalize_all}: #{start_time.in_time_zone.strftime('%l:%M %P')} - #{end_time.in_time_zone.strftime('%l:%M %P')}"
    end.join(', ') %>
<% else %>
    The studio is open all day.
<% end %>
			</td>
			<td><a class="dcf-btn dcf-btn-primary" href="/admin/hours/">Manage</a></td>
		</tr>
		<% end %>
		<% if has_permission?(Permission::MANAGE_EMAILS) %>
		<tr>
			<th scope="row"><strong>Emails</strong></th>
			<td></td>
			<td><a class="dcf-btn dcf-btn-primary" href="/admin/email/">Manage</a></td>
		</tr>
		<% end %>
		<% if has_permission?(Permission::SEE_AGENDA) %>
		<tr>
			<th scope="row"><strong>Agenda</strong></th>
			<td></td>
			<td><a class="dcf-btn dcf-btn-primary" href="/admin/agenda/">View</a></td>
		</tr>
		<tr>
			<th scope="row"><strong>Check In Log</strong></th>
			<td></td>
			<td><a class="dcf-btn dcf-btn-primary" href="/admin/view_check_in/">View</a></td>
		</tr>
		<% end %>
		<% if has_permission?(Permission::SUPER_USER) %>
		<tr>
			<th scope="row"><strong>Announcements</strong></th>
			<td></td>
			<td><a class="dcf-btn dcf-btn-primary" href="/admin/announcements/">Manage</a></td>
		</tr>
		<% end %>
	</tbody>
</table>

