<div id="pagetitle">
	<h3>NIS Manager Administration</h3>
	<span class="wdn-subhead">Hello, <%= @user.full_name %> (<%= @user.username %>) <% if @user.is_super_user? %><br>Super User<% end %></span>
</div>

<table>
	<tbody>
		<% if @user.has_permission?(Permission::MANAGE_USERS) || @user.has_permission?(Permission::SUPER_USER) %>
		<tr>
			<td><strong>Users</strong></td>
			<td><%= user_count %> users</td>
			<td><a class="wdn-button wdn-button-brand" href="/admin/users/">Manage</a></td>
		</tr>
		<% end %>
		<% if @user.has_permission?(Permission::MANAGE_EVENTS) %>
		<tr>
			<td><strong>Events</strong></td>
			<td><%= upcoming_event_count %> upcoming events</td>
			<td><a class="wdn-button wdn-button-brand" href="/admin/events/">Manage</a></td>
		</tr>
		<% end %>
		<% if @user.has_permission?(Permission::MANAGE_RESOURCES) %>
		<tr>
			<td><strong>Tools</strong></td>
			<td><%= tool_count %> tools</td>
			<td><a class="wdn-button wdn-button-brand" href="/admin/tools/">Manage</a></td>
		</tr>
		<% end %>
		<% if @user.has_permission?(Permission::MANAGE_SPACE_HOURS) %>
		<tr>
			<td><strong>Hours</strong></td>
			<td>Today: 
<% unless space_hour.nil? %>
    <%= space_hour.hours.map do |record|
        start_time = date + record[:start].minutes
        end_time = date + record[:end].minutes
        "#{record[:status].capitalize_all}: #{start_time.in_time_zone.strftime('%l:%M %P')} - #{end_time.in_time_zone.strftime('%l:%M %P')}"
    end.join(', ') %>
<% else %>
    The studio is open all day.
<% end %>
			</td>
			<td><a class="wdn-button wdn-button-brand" href="/admin/hours/">Manage</a></td>
		</tr>
		<% end %>
		<% if @user.has_permission?(Permission::MANAGE_EMAILS) %>
		<tr>
			<td><strong>Emails</strong></td>
			<td></td>
			<td><a class="wdn-button wdn-button-brand" href="/admin/emails/">Manage</a></td>
		</tr>
		<% end %>
		<% if @user.has_permission?(Permission::SEE_AGENDA) %>
		<tr>
			<td><strong>Agenda</strong></td>
			<td></td>
			<td><a class="wdn-button wdn-button-brand" href="/admin/agenda/">View</a></td>
		</tr>
		<% end %>
	</tbody>
</table>

