<form class="dcf-form" id="create-event-form" action="" method="POST" enctype="multipart/form-data">
    <div class="dcf-grid dcf-col-gap-vw">
        <div class="dcf-col-100% dcf-col-67%-start@sm">
            <fieldset>
                <legend>Event Details</legend>

                <div class="dcf-form-group">
                    <label for="title">Title <small class="dcf-required">Required</small></label>
                    <input class="dcf-w-100%" type="text" id="title" name="title" value="<%= event.title %>"/>
                </div>

                <div class="dcf-form-group">
                    <label for="description">Description</label>
                    <textarea rows="4" id="description" name="description"><%= event.description %></textarea>
                </div>

                <div class="dcf-form-group">
                    <label for="admin-notes">Admin Notes <span class="dcf-txt-xs">Only displayed here.</span></label>
                    <textarea rows="4" id="admin-notes" name="admin_notes"><%= event.admin_notes %></textarea>
                </div>

                <div class="dcf-form-group">
                    <label for="type">Type</label>
                    <select id="type" name="type" class="use-select2">
                    <% types.each do |type| %>
                        <option <%= 'selected="selected"' if !event.type.nil? && event.type.id == type.id %> value="<%= type.id %>"><%= type.description %></option>
                    <% end %>
                    </select>
                </div>

                <div class="dcf-form-group">
                    <label for="trainer">Trainer:</label>
                    <select id="trainer" name="trainer" class="use-select2">
                    <option value=""></option>
                    <% trainers.each do |trainer| %>
                        <option <%= 'selected="selected"' if !event.trainer_id.nil? && event.trainer_id == trainer.id %> value="<%= trainer.id %>"><%= trainer.full_name %></option>
                    <% end %>
                    </select>
                </div>

                <div class="dcf-form-group">
                    <div class="dcf-input-checkbox dcf-d-inline">
                        <input type="checkbox" <%= 'checked="checked"' unless event.max_signups.nil? %> id="limit-signups" name="limit_signups"><label class="dcf-label" for="limit-signups">Limit signups for this event to: </label>
                    </div>
                    <label for="max-signups"><span class="dcf-sr-only">Max Signups</span></label>
                    <input value="<%= event.max_signups %>" type="number" id="max-signups" name="max_signups" class="dcf-d-inline dcf-w-10" aria-label="Number of signups to limit."/>
                </div>
            </fieldset>

            <fieldset>
            <legend>Location, Date, and Time</legend>
                <div class="dcf-form-group">
                    <label for="location">Location <small class="dcf-required">Required</small></label>
                    <select id="location" name="location" class="use-select2">
                        <% locations.each do |location| %>
                            <option <%= 'selected="selected"' if !event.location.nil? && event.location.id == location.id %> value="<%= location.id %>"><%= location.name %></option>
                        <% end %>
                        <option value="new">-- New Location --</option>
                    </select>
                </div>

                <div style="display: none;" class="dcf-form-group offset-field-group" id="new-location-details">
                    <div class="dcf-form-group">
                        <label for="location-name">Name <small class="dcf-required">Required</small></label>
                        <input type="text" id="location-name" name="new_location[name]" />
                    </div>

                    <div class="dcf-form-group">
                        <label for="location-address">Address</label>
                        <input type="text" id="location-address" name="new_location[streetaddress]" />
                    </div>

                    <div class="dcf-form-group">
                        <label for="location-address2">Address 2</label>
                        <input type="text" id="location-address2" name="new_location[streetaddress2]" />
                    </div>

                    <div class="dcf-form-group">
                        <label for="location-city">City</label>
                        <input type="text" id="location-city" name="new_location[city]" />
                    </div>

                    <div class="dcf-form-group">
                        <label for="location-state">State</label>
                        <input type="text" id="location-state" name="new_location[state]" />
                    </div>

                    <div class="dcf-form-group">
                        <label for="location-zip">Zip</label>
                        <input type="text" id="location-zip" name="new_location[zip]" />
                    </div>

                    <div class="dcf-form-group">
                        <label for="location-additionalinfo">Additional Info</label>
                        <input type="text" id="location-additionalinfo" name="new_location[additionalinfo]" />
                    </div>

                    <label>* This location will be saved for future use</label>
                </div>

                <div>
                    <div class="dcf-input-checkbox dcf-mt-6">
                        <input type="checkbox" <%= 'checked="checked"' if event.has_reservation %> id="reserve-tool" name="reserve_tool"><label for="reserve-tool">Reserve a tool for this event</label>
                    </div>
                    <div id="tools-for-reserving" style="<%= 'display: none;' if !event.has_reservation %>">
                        <label for="tool">Tool</label>
                        <select id="tools" name="tools[]" class="use-select2" multiple>
                            <% tools.each do |tool| %>
                                <option <%= 'selected="selected"' if event.has_tool_reservation(tool.id) %> value="<%= tool.id %>"><%= "#{tool.category_name} - #{tool.name} - #{tool.model}" %></option>
                            <% end %>
                        </select>
                    </div>
                </div>
                <br>

                <label for="start-date" >Start Date &amp; Time <small class="dcf-required">Required</small></label>
                <div class="date-time-select">
                    <div class="dcf-datepicker">
                        <input id="start-date" value="<%= event.start_time.in_time_zone.strftime('%m/%d/%Y') if !event.start_time.nil? %>" name="start_date" title="Start Date" type="text" />
                    </div>
                    <div class="dcf-d-flex dcf-ai-center dcf-flex-grow-1 dcf-mt-4 dcf-mr-4">
                    <span class="dcf-pr-2">@</span>
                        <select class="dcf-flex-grow-1 dcf-input-select" id="start-time-hour" name="start_time_hour" title="Start Time Hour">
                            <option value=""></option>
                            <% (1..12).each do |i| %>
                            <option <%= 'selected="selected"' if !event.start_time.nil? && event.start_time.in_time_zone.hour.to_i % 12 == i % 12 %> value="<%= i %>"><%= i %></option>
                            <% end %>
                        </select> :

                        <select class="dcf-flex-grow-1 dcf-input-select" id="start-time-minute" name="start_time_minute" title="Start Time Minute">
                            <option value=""></option>
                            <% (0..11).each do |i| %>
                            <option <%= 'selected="selected"' if !event.start_time.nil? && event.start_time.in_time_zone.min == i*5 %> value="<%= i * 5 %>"><%= (i*5).to_s.rjust(2, '0') %></option>
                            <% end %>
                        </select>

                        <div id="start-time-am-pm" class="am_pm dcf-mb-0 dcf-pl-3">
                            <div class="dcf-d-flex dcf-ai-center">
                                <div class="dcf-input-radio">
                                    <input <%= 'checked="checked"' if !event.start_time.nil? && event.start_time.in_time_zone.hour < 12 %> id="start-time-am-pm-am" title="AM" type="radio" value="am" name="start_time_am_pm" class="dcf-flex-shrink-0">
                                    <label class="dcf-label dcf-2nd dcf-mt-0" for="start-time-am-pm-am">AM</label>
                                </div>
                            </div>
                            <div class="dcf-d-flex dcf-ai-center">
                                <div class="dcf-input-radio">
                                    <input <%= 'checked="checked"' if event.start_time.nil? || event.start_time.in_time_zone.hour >= 12 %> id="start-time-am-pm-pm" title="PM" type="radio" value="pm" name="start_time_am_pm" class="dcf-flex-shrink-0">
                                    <label class="dcf-label dcf-2nd dcf-mt-0" for="start-time-am-pm-pm">PM</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <label for="end-date">End Date &amp; Time <small class="dcf-form-help">(optional)</small></label>
                <div class="date-time-select">
                    <div class="dcf-datepicker">
                        <input id="end-date" value="<%= event.end_time.in_time_zone.strftime('%m/%d/%Y') if !event.end_time.nil? %>" name="end_date" title="End Date" type="text" />
                    </div>

                     <div class="dcf-d-flex dcf-ai-center dcf-flex-grow-1 dcf-mt-4 dcf-mr-4">
                        <span class="dcf-pr-2">@</span>
                        <select class="dcf-flex-grow-1 dcf-input-select" id="end-time-hour" name="end_time_hour" title="End Time Hour">
                            <option value=""></option>
                            <% (1..12).each do |i| %>
                            <option <%= 'selected="selected"' if !event.end_time.nil? && event.end_time.in_time_zone.hour.to_i % 12 == i % 12 %> value="<%= i %>"><%= i %></option>
                            <% end %>
                        </select> :

                        <select class="dcf-flex-grow-1 dcf-input-select" id="end-time-minute" name="end_time_minute" title="End Time Minute">
                            <option value=""></option>
                            <% (0..11).each do |i| %>
                            <option <%= 'selected="selected"' if !event.end_time.nil? && event.end_time.in_time_zone.min == i*5 %> value="<%= i * 5 %>"><%= (i*5).to_s.rjust(2, '0') %></option>
                            <% end %>
                        </select>

                        <div id="end-time-am-pm" class="am_pm dcf-mb-0 dcf-pl-3">
                            <div class="dcf-d-flex dcf-ai-center">
                                <div class="dcf-input-radio">
                                    <input <%= 'checked="checked"' if !event.end_time.nil? && event.end_time.in_time_zone.hour < 12 %> id="end-time-am-pm-am" title="AM" type="radio" value="am" name="end_time_am_pm" class="dcf-flex-shrink-0">
                                    <label class="dcf-label dcf-2nd dcf-mt-0" for="end-time-am-pm-am">AM</label>
                                </div>
                            </div>
                            <div class="dcf-d-flex dcf-ai-center">
                                <div class="dcf-input-radio">
                                    <input <%= 'checked="checked"' if event.end_time.nil? || event.end_time.in_time_zone.hour >= 12 %> id="end-time-am-pm-pm" title="PM" type="radio" value="pm" name="end_time_am_pm" class="dcf-flex-shrink-0">
                                    <label class="dcf-label dcf-2nd dcf-mt-0" for="end-time-am-pm-pm">PM</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

        </div>
        <input type="hidden" name="hidden-duration" id="duration" value="<%=duration%>">
        <div class="dcf-col-100% dcf-col-33%-end@sm">
            <div class="visual-island">
                <div class="vi-header">
                    <label>Image</label>
                </div>

                <div class="details">
                    <% unless event.imagedata.nil? %>
                        <img src="<%= event.image_src %>" alt="Image for Event <%= event.title %>">
                        <br>
                        <div class="dcf-input-checkbox">
                            <input type="checkbox" name="remove_image" id="remove-image">
                            <label for="remove-image">Remove Image</label>
                        </div>
                    <% end %>
                    <input type="file" name="imagedata" id="imagedata" title="Event Image">
                </div>
            </div>
            <div class="visual-island">
                <div class="vi-header">
                    <label>Export</label>
                </div>

                <div class="details">
                    <div class="dcf-input-checkbox">
                        <input id="export-to-unl-events" title="Export to UNL Events" type="checkbox" <%= 'checked="checked"' if on_unl_events %> name="export_to_unl_events">
                        <label for="export-to-unl-events">Export to UNL Events</label>
                    </div>
                    <div class="dcf-input-checkbox">
                        <input disabled="disabled" id="consider-for-unl-main" title="Consider for main UNL Events calendar" type="checkbox" <%= 'checked="checked"' if on_main_calendar %> name="consider_for_unl_main">
                        <label for="consider-for-unl-main">Consider for main UNL Events calendar</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dcf-grid dcf-col-gap-vw">
        <div class="dcf-col-100% dcf-col-67%-start@sm">
            <button class="dcf-btn dcf-btn-primary dcf-float-left" type="submit"><%= event.id.nil? ? 'Create' : 'Save' %> Event</button>
        </div>
    </div>
</form>
</div>
<br>

<% append_script_declaration("WDN.initializePlugin('datepickers');") %>
<% append_script_declaration(%q[WDN.initializePlugin('jqueryui', [function() {
    $ = require('jquery');

    $('#reserve-tool').click(function(click) {
        if ($('#reserve-tool').is(':checked')) {
            $('#tools-for-reserving').show();
        } else {
            $('#tools-for-reserving').hide();
        }
    });

    $('#location').change(function (change) {
        if ($(this).val() == 'new') {
            $('#new-location-details').show();
        } else {
            $('#new-location-details').hide();
        }
    }).change();

    $('#export-to-unl-events').change(function (change) {
        if ($('#export-to-unl-events').is(':checked')) {
            $('#consider-for-unl-main').removeAttr('disabled');
        } else {
            $('#consider-for-unl-main').attr('checked', false);
            $('#consider-for-unl-main').attr('disabled', 'disabled');
        }
    }).change();

    $('#start-time-hour').change(function (change) {
        start_time_hour = parseInt($('#start-time-hour').val());
        duration = parseInt($('#duration').val());
        time = start_time_hour + ((duration - (duration % 60)) / 60);
        time = time % 12;
        $('#end-time-hour').val(time);
    }).change();
    
    $('#start-time-minute').change(function (change) {
        start_time_minute = parseInt($('#start-time-minute').val());
        start_time_hour = parseInt($('#start-time-hour').val());
        duration = parseInt($('#duration').val());
        time = start_time_minute + (duration % 60);
        hour_time = start_time_hour + ((duration - (duration % 60)) / 60);
        hour_time = hour_time % 12;
        hour = hour_time + Math.floor(time/60);
        if (time >= 60){
            $('#end-time-hour').val(hour % 12);
            time = time % 60;
            $('#end-time-minute').val(time);
        }
        else {
            $('#end-time-hour').val(hour);
        }
        $('#end-time-minute').val(time);
    }).change();

    $('#start-date').change(function (change) {
        start_date = $('#start-date').val();
        $('#end-date').val(start_date); 
    }).change();

}]);]) %>