<form class="dcf-form" id="create-event-form" action="" method="POST" enctype="multipart/form-data">
    <div class="dcf-grid dcf-col-gap-vw">
        <div class="dcf-col-100% dcf-col-67%-start@sm">
            <fieldset>
                <legend>Event Details</legend>

                <div class="dcf-form-group">
                    <label for="title">Title <small class="dcf-required">Required</small></label>
                    <input class="dcf-w-100%" type="text" id="title" name="title" value="<%= event.title %>"/>
                </div>

                <div class="dcf-form-group">
                    <label for="description">Description</label>
                    <textarea rows="4" id="description" name="description"><%= event.description %></textarea>
                </div>

                <div class="dcf-form-group">
                    <label for="admin-notes">Admin Notes <span class="dcf-txt-xs">Only displayed here.</span></label>
                    <textarea rows="4" id="admin-notes" name="admin_notes"><%= event.admin_notes %></textarea>
                </div>

                <div class="dcf-form-group">
                    <label for="type">Type</label>
                    <select id="type" name="type" class="use-select2">
                    <% types.each do |type| %>
                        <option
                            <%= 'selected="selected"' if !event.type.nil? && event.type.id == type.id %>
                            value="<%= type.id %>"
                            <%= 'data-hrc="true"' if type.id == hrc_training_id %>
                        ><%= type.description %></option>
                    <% end %>
                    </select>
                </div>

                <div class="dcf-form-group">
                    <label for="trainer">Trainer:</label>
                    <select id="trainer" name="trainer" class="use-select2">
                    <option value=""></option>
                    <% trainers.each do |trainer| %>
                        <option <%= 'selected="selected"' if !event.trainer_id.nil? && event.trainer_id == trainer.id %> value="<%= trainer.id %>"><%= trainer.full_name %></option>
                    <% end %>
                    </select>
                </div>

                <div class="dcf-form-group">
                    <div class="dcf-input-checkbox dcf-d-inline">
                        <input type="checkbox" <%= 'checked="checked"' unless event.max_signups.nil? %> id="limit-signups" name="limit_signups"><label class="dcf-label" for="limit-signups">Limit signups for this event to: </label>
                    </div>
                    <label for="max-signups"><span class="dcf-sr-only">Max Signups</span></label>
                    <input value="<%= event.max_signups %>" type="number" id="max-signups" name="max_signups" class="dcf-d-inline dcf-w-10" aria-label="Number of signups to limit."/>
                </div>

                <div class="dcf-form-group">
                    <div class="dcf-input-checkbox">
                        <input type="checkbox" <%= 'checked="checked"' if event.is_private %> id="is_private" name="is_private"><label class="dcf-label" for="is_private">Private event</label>
                    </div>
                </div>

                <% if SS_ID == 1 %>
                    <div id="not_hrc_feed_container" class="dcf-form-group">
                        <div class="dcf-input-checkbox">
                            <input type="checkbox" <%= 'checked="checked"' if event.hrc_feed %> id="hrc_feed" name="hrc_feed"><label class="dcf-label" for="hrc_feed">Show on HRC events page</label>
                        </div>
                    </div>

                    <div id="hrc_feed_container" class="dcf-form-group">
                        <div class="dcf-input-checkbox">
                            <input type="checkbox" <%= 'checked="checked"' if event.hrc_parking %> id="hrc_parking" name="hrc_parking"><label class="dcf-label" for="hrc_parking">HRC event has parking</label>
                        </div>
                    </div>
                <% end %>

                <div id="event_code_container" class="dcf-form-group">
                    <label for="event-code">Require Code to Signup <small id="event-code-required" class="dcf-required">Required</small></label>
                    <input class="dcf-w-100%" type="text" id="event-code" name="event_code" value="<%= event.event_code %>"/>
                </div>
            </fieldset>

            <fieldset>
            <legend>Location, Date, and Time</legend>
                <div class="dcf-form-group">
                    <label for="location">Location <small class="dcf-required">Required</small></label>
                    <select id="location" name="location" class="use-select2">
                        <% locations.each do |location| %>
                            <option <%= 'selected="selected"' if !event.location.nil? && event.location.id == location.id %> value="<%= location.id %>"><%= location.name %></option>
                        <% end %>
                        <option value="new">-- New Location --</option>
                    </select>
                </div>

                <div style="display: none;" class="dcf-form-group offset-field-group" id="new-location-details">
                    <div class="dcf-form-group">
                        <label for="location-name">Name <small class="dcf-required">Required</small></label>
                        <input type="text" id="location-name" name="new_location[name]" />
                    </div>

                    <div class="dcf-form-group">
                        <label for="location-address">Address</label>
                        <input type="text" id="location-address" name="new_location[streetaddress]" />
                    </div>

                    <div class="dcf-form-group">
                        <label for="location-address2">Address 2</label>
                        <input type="text" id="location-address2" name="new_location[streetaddress2]" />
                    </div>

                    <div class="dcf-form-group">
                        <label for="location-city">City</label>
                        <input type="text" id="location-city" name="new_location[city]" />
                    </div>

                    <div class="dcf-form-group">
                        <label for="location-state">State</label>
                        <input type="text" id="location-state" name="new_location[state]" />
                    </div>

                    <div class="dcf-form-group">
                        <label for="location-zip">Zip</label>
                        <input type="text" id="location-zip" name="new_location[zip]" />
                    </div>

                    <div class="dcf-form-group">
                        <label for="location-additionalinfo">Additional Info</label>
                        <input type="text" id="location-additionalinfo" name="new_location[additionalinfo]" />
                    </div>

                    <label>* This location will be saved for future use</label>
                </div>

                <div>
                    <div class="dcf-input-checkbox dcf-mt-6">
                        <input type="checkbox" <%= 'checked="checked"' if event.has_reservation || (event.id.nil? && !preset_event.nil?) %> id="reserve-tool" name="reserve_tool">
                        <label for="reserve-tool">Reserve a tool for this event</label>
                    </div>
                    <div id="tools-for-reserving" >
                        <label for="tools">Use Shift or Ctrl/Cmd to select multiple tools</label>
                        <select id="tools" name="tools[]" class="use-select2" multiple size="8" >
                            <% tools.each do |tool| %>
                                <% if !tool.INOP %>
                                    <% if event.id.nil? %>
                                        <option <%= 'selected="selected"' if !preset_event.nil? and preset_event.get_resource_reservations_ids.include?(tool.id)  %> value="<%=tool.id%>"><%= "#{tool.category_name} - #{tool.name} - #{tool.model}" %></option>
                                    <% else%>
                                        <option <%= 'selected="selected"' if event.has_tool_reservation(tool.id) %> value="<%= tool.id %>"><%= "#{tool.category_name} - #{tool.name} - #{tool.model}" %></option>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </select>
                    </div>
                </div>
                <br>

                <div>
                    <div class="dcf-input-checkbox dcf-mt-6">
                        <input type="checkbox" <%= 'checked="checked"' if event.has_authorization || (event.id.nil? && !preset_event.nil?) %> id="authorize_tools_checkbox" name="authorize_tools_checkbox">
                        <label for="authorize_tools_checkbox">Authorize a tool for this event</label>
                    </div>
                    <div id="tools-for-authorizing" >
                        <label for="specific-tools">Use Shift or Ctrl/Cmd to select multiple tools</label>
                        <select id="specific-tools" name="specific_tools[]" class="use-select2" multiple size="8" >
                            <% all_tools.each do |tool| %>
                                <% if !tool.INOP %>
                                    <% if event.id.nil? %>
                                        <option <%= 'selected="selected"' if !preset_event.nil? and preset_event.get_resource_ids.include?(tool.id)  %> value="<%=tool.id%>"><%= "#{tool.category_name} - #{tool.name} - #{tool.model}" %></option>
                                    <% else%>
                                        <option <%= 'selected="selected"' if authorized_tools_ids.include?(tool.id) %> value="<%=tool.id%>"><%= "#{tool.category_name} - #{tool.name} - #{tool.model}" %></option>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </select>
                    </div>
                </div>
                <br>

                <label for="start-date" >Start Date &amp; Time <small class="dcf-required">Required</small></label>
                <div class="date-time-select">
                    <div class="dcf-datepicker">
                        <input id="start-date" value="<%= event.start_time.in_time_zone.strftime('%m/%d/%Y') if !event.start_time.nil? %>" name="start_date" title="Start Date" type="text" />
                    </div>
                    <div class="dcf-d-flex dcf-ai-center dcf-flex-grow-1 dcf-mt-4 dcf-mr-4">
                    <span class="dcf-pr-2">@</span>
                        <select class="dcf-flex-grow-1 dcf-input-select" id="start-time-hour" name="start_time_hour" title="Start Time Hour">
                            <option value=""></option>
                            <% (1..12).each do |i| %>
                            <option <%= 'selected="selected"' if !event.start_time.nil? && event.start_time.in_time_zone.hour.to_i % 12 == i % 12 %> value="<%= i %>"><%= i %></option>
                            <% end %>
                        </select> :

                        <select class="dcf-flex-grow-1 dcf-input-select" id="start-time-minute" name="start_time_minute" title="Start Time Minute">
                            <option value=""></option>
                            <% (0..11).each do |i| %>
                            <option <%= 'selected="selected"' if !event.start_time.nil? && event.start_time.in_time_zone.min == i*5 %> value="<%= i * 5 %>"><%= (i*5).to_s.rjust(2, '0') %></option>
                            <% end %>
                        </select>

                        <div id="start-time-am-pm" class="am_pm dcf-mb-0 dcf-pl-3">
                            <div class="dcf-d-flex dcf-ai-center">
                                <div class="dcf-input-radio">
                                    <input <%= 'checked="checked"' if !event.start_time.nil? && event.start_time.in_time_zone.hour < 12 %> id="start-time-am-pm-am" title="AM" type="radio" value="am" name="start_time_am_pm" class="dcf-flex-shrink-0">
                                    <label class="dcf-label dcf-2nd dcf-mt-0" for="start-time-am-pm-am">AM</label>
                                </div>
                            </div>
                            <div class="dcf-d-flex dcf-ai-center">
                                <div class="dcf-input-radio">
                                    <input <%= 'checked="checked"' if event.start_time.nil? || event.start_time.in_time_zone.hour >= 12 %> id="start-time-am-pm-pm" title="PM" type="radio" value="pm" name="start_time_am_pm" class="dcf-flex-shrink-0">
                                    <label class="dcf-label dcf-2nd dcf-mt-0" for="start-time-am-pm-pm">PM</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <label for="end-date">End Date &amp; Time <small class="dcf-form-help">(optional)</small></label>
                <div class="date-time-select">
                    <div class="dcf-datepicker">
                        <input id="end-date" value="<%= event.end_time.in_time_zone.strftime('%m/%d/%Y') if !event.end_time.nil? %>" name="end_date" title="End Date" type="text" />
                    </div>

                     <div class="dcf-d-flex dcf-ai-center dcf-flex-grow-1 dcf-mt-4 dcf-mr-4">
                        <span class="dcf-pr-2">@</span>
                        <select class="dcf-flex-grow-1 dcf-input-select" id="end-time-hour" name="end_time_hour" title="End Time Hour">
                            <option value=""></option>
                            <% (1..12).each do |i| %>
                            <option <%= 'selected="selected"' if !event.end_time.nil? && event.end_time.in_time_zone.hour.to_i % 12 == i % 12 %> value="<%= i %>"><%= i %></option>
                            <% end %>
                        </select> :

                        <select class="dcf-flex-grow-1 dcf-input-select" id="end-time-minute" name="end_time_minute" title="End Time Minute">
                            <option value=""></option>
                            <% (0..11).each do |i| %>
                            <option <%= 'selected="selected"' if !event.end_time.nil? && event.end_time.in_time_zone.min == i*5 %> value="<%= i * 5 %>"><%= (i*5).to_s.rjust(2, '0') %></option>
                            <% end %>
                        </select>

                        <div id="end-time-am-pm" class="am_pm dcf-mb-0 dcf-pl-3">
                            <div class="dcf-d-flex dcf-ai-center">
                                <div class="dcf-input-radio">
                                    <input <%= 'checked="checked"' if !event.end_time.nil? && event.end_time.in_time_zone.hour < 12 %> id="end-time-am-pm-am" title="AM" type="radio" value="am" name="end_time_am_pm" class="dcf-flex-shrink-0">
                                    <label class="dcf-label dcf-2nd dcf-mt-0" for="end-time-am-pm-am">AM</label>
                                </div>
                            </div>
                            <div class="dcf-d-flex dcf-ai-center">
                                <div class="dcf-input-radio">
                                    <input <%= 'checked="checked"' if event.end_time.nil? || event.end_time.in_time_zone.hour >= 12 %> id="end-time-am-pm-pm" title="PM" type="radio" value="pm" name="end_time_am_pm" class="dcf-flex-shrink-0">
                                    <label class="dcf-label dcf-2nd dcf-mt-0" for="end-time-am-pm-pm">PM</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

        </div>
        <input type="hidden" name="hidden-duration" id="duration" value="<%=duration%>">
        <div class="dcf-col-100% dcf-col-33%-end@sm">
            <div class="visual-island">
                <div class="vi-header">
                    <label>Image</label>
                </div>

                <div class="details">
                    <% unless event.imagedata.nil? %>
                        <img src="<%= event.image_src %>" alt="Image for Event <%= event.title %>">
                        <br>
                        <div class="dcf-input-checkbox">
                            <input type="checkbox" name="remove_image" id="remove-image">
                            <label for="remove-image">Remove Image</label>
                        </div>
                    <% end %>
                    <input type="file" name="imagedata" id="imagedata" title="Event Image">
                </div>
            </div>
            <% if SS_ID == 1 %>
            <div class="visual-island">
                <div class="vi-header">
                    <label>Export</label>
                </div>

                <div class="details">
                    <div class="dcf-input-checkbox">
                        <input id="export-to-unl-events" title="Export to UNL Events" type="checkbox" <%= 'checked="checked"' if on_unl_events %> name="export_to_unl_events">
                        <label for="export-to-unl-events">Export to UNL Events</label>
                    </div>
                    <div class="dcf-input-checkbox">
                        <input disabled="disabled" id="consider-for-unl-main" title="Consider for main UNL Events calendar" type="checkbox" <%= 'checked="checked"' if on_main_calendar %> name="consider_for_unl_main">
                        <label for="consider-for-unl-main">Consider for main UNL Events calendar</label>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>

    <div class="dcf-grid dcf-col-gap-vw">
        <div class="dcf-col-100% dcf-col-67%-start@sm">
            <button class="dcf-btn dcf-btn-primary dcf-float-left" type="submit"><%= event.id.nil? ? 'Create' : 'Save' %> Event</button>
        </div>
    </div>
</form>
</div>
<br>

<% append_script_declaration("WDN.initializePlugin('datepickers');") %>
<% if SS_ID == 1 %>
<% append_script_declaration(%q[
    const type_select = document.getElementById('type');
    const event_code = document.getElementById('event-code');
    const event_code_required = document.getElementById('event-code-required');
    const hrc_feed_container = document.getElementById('hrc_feed_container');
    const not_hrc_feed_container = document.getElementById('not_hrc_feed_container');
    const hrc_feed_input = document.getElementById('hrc_feed');
    const hrc_parking_input = document.getElementById('hrc_parking');

    function update_hrc_inputs() {
        const selected_type = type_select.options[type_select.selectedIndex];
        const select_type_has_hrc = 'hrc' in selected_type.dataset;

        if (select_type_has_hrc) {
            hrc_feed_container.classList.remove('dcf-d-none');
            not_hrc_feed_container.classList.add('dcf-d-none');
            hrc_feed_input.checked = false;
            event_code.setAttribute('required', 'required');
            event_code_required.classList.remove('dcf-d-none');
        } else {
            hrc_feed_container.classList.add('dcf-d-none');
            not_hrc_feed_container.classList.remove('dcf-d-none');
            hrc_parking_input.checked = false;
            event_code.removeAttribute('required', 'required');
            event_code_required.classList.add('dcf-d-none');
        }
    }

    update_hrc_inputs();
    type_select.addEventListener('input', update_hrc_inputs);
])%>
<% end %>
<% append_script_declaration(%q[WDN.initializePlugin('jqueryui', [function() {
    $ = require('jquery');

    // sets AM/PM radio buttons and mods the time passed if necessary
    function setEndTimeAMPM(time) {
        if (time < 12) {
            $('#end-time-am-pm-am').prop('checked', true);
            $('#end-time-am-pm-pm').prop('checked', false);
        } else {
            $('#end-time-am-pm-am').prop('checked', false);
            $('#end-time-am-pm-pm').prop('checked', true);
        }
    }

    $('#reserve-tool').click(function(click) {
        if ($('#reserve-tool').is(':checked')) {
            $('#tools-for-reserving').show();
        } else {
            $('#tools-for-reserving').hide();
        }
    });

    $('#location').change(function (change) {
        if ($(this).val() == 'new') {
            $('#new-location-details').show();
        } else {
            $('#new-location-details').hide();
        }
    }).change();

    $('#export-to-unl-events').change(function (change) {
        if ($('#export-to-unl-events').is(':checked')) {
            $('#consider-for-unl-main').removeAttr('disabled');
        } else {
            $('#consider-for-unl-main').attr('checked', false);
            $('#consider-for-unl-main').attr('disabled', 'disabled');
        }
    }).change();

    $('#start-time-hour').change(function (change) {
        start_time_hour = parseInt($('#start-time-hour').val());
        if ($('#start-time-am-pm-pm').is(':checked')) {
            start_time_hour += 12;
        }
        duration = parseInt($('#duration').val());
        duration_hour_delta = Math.floor(duration / 60) % 24;
        new_end_hour = start_time_hour + duration_hour_delta;

        setEndTimeAMPM(new_end_hour);
        new_end_hour_in_12 = (new_end_hour % 12);
        $('#end-time-hour').val(new_end_hour_in_12);
    }).change();

    $('#start-time-minute').change(function (change) {
        start_time_minute = parseInt($('#start-time-minute').val());
        start_time_hour = parseInt($('#start-time-hour').val());
        if ($('#start-time-am-pm-pm').is(':checked')) {
            start_time_hour += 12;
        }
        duration = parseInt($('#duration').val());
        duration_hour_delta = Math.floor(duration / 60) % 24;
        duration_minute_delta = duration % 60;
        new_end_hour = start_time_hour + duration_hour_delta;
        new_end_minute = start_time_minute + duration_minute_delta;

        if (new_end_minute > 60) {
            new_end_hour = (new_end_hour + 1) % 12;
            new_end_minute = new_end_minute % 60;
        }

        // 60 is not an option so we go back to 0
        if (new_end_minute === 60) {
            new_end_minute = 0;
        }

        setEndTimeAMPM(new_end_hour);
        new_end_hour_in_12 = (new_end_hour % 12);
        $('#end-time-hour').val(new_end_hour_in_12);
        $('#end-time-minute').val(new_end_minute);
    }).change();

    $('#start-date').change(function (change) {
        start_date = $('#start-date').val();
        if (start_date === '') {
            return;
        }
        duration = parseInt($('#duration').val());
        duration_day_delta = Math.floor(duration / 60 / 24);

        new_start_date = new Date(start_date);
        new_start_date.setDate(new_start_date.getDate() + duration_day_delta);

        let day = ("0" + new_start_date.getDate()).slice(-2);
        let month = ("0" + (new_start_date.getMonth() + 1)).slice(-2);
        let formatted_date = month + '/' + day + '/' + new_start_date.getFullYear();

        $('#end-date').val(formatted_date);
    }).change();

}]);]) %>