<div id="pagetitle">
	<h3>Set New Hours</h3>
</div>

<form id="create-hours" action="" method="POST">
    <div class="dcf-grid dcf-col-gap-vw">
        <div class="dcf-col-100% dcf-col-50%-start@sm">
            <label for="day-of-week">Day Of Week</label>
            <select id="day-of-week" name="day_of_week" class="dcf-input-select">
            <% (weekdays = %w(Sunday Monday Tuesday Wednesday Thursday Friday Saturday)).each_index do |i| %>
                <option <%= 'selected="selected"' if space_hour.day_of_week == i && !space_hour.one_off %> value="<%= i %>"><%= weekdays[i] %></option>
            <% end %>
                <option <%= 'selected="selected"' if space_hour.one_off %> value="one_off">Set hours for a single day</option>
            </select>

        	<label for="effective-date">Effective Date</label>
        	<div class="date-time-select">
            	<span class="wdn-icon-calendar"></span>
                <input style="width: 90%;" id="effective-date" name="effective_date" title="Effective Date" type="text" class="datepicker" value="<%= (space_hour.effective_date || Time.now).strftime('%m/%d/%Y') %>" />
            </div>
        </div>
    </div>

    <fieldset>
        <legend>Hours</legend>
        <label>Studio will be closed for all hours you do not indicate here.</label>
        <input type="text" class="hidden" name="hours" id="hours" />
        <div id="hours-container">
            <% hours = [{:status => 'open', :start => 540, :end => 1020}] if hours.nil? %>
            <% hours.each_index do |x| %>
            <% record = hours[x] %>
            <div id="base-hours-<%=x%>" class="date-time-select hours-record">
                <select class="hours-type dcf-input-select">
                    <option <%= 'selected="selected"' if record[:status] == 'open' %> value="open">Open</option>
                    <option <%= 'selected="selected"' if record[:status] == 'open_without_reservations' %> value="open_without_reservations">Open but Machine Reservations are Not Allowed</option>
                    <option <%= 'selected="selected"' if record[:status] == 'closed' %> value="closed">Closed</option>
                </select>
                <label for="start-date">from</label>
                <div class="dcf-d-flex dcf-ai-center dcf-flex-grow-1 dcf-mt-4 dcf-mr-4">
                    <select class="start-time-hour dcf-flex-grow-1 dcf-input-select" title="Start Time Hour">
                        <option value=""></option>
                        <% (1..12).each do |i| %>
                        <option <%= 'selected="selected"' if [y = record[:start] / 60, y+12, y-12].include?(i) %> value="<%= i %>"><%= i %></option>
                        <% end %>
                    </select>&nbsp;:&nbsp;

                    <select class="start-time-minute dcf-flex-grow-1 dcf-input-select" title="Start Time Minute">
                        <option value=""></option>
                        <% (0..11).each do |i| %>
                        <option <%= 'selected="selected"' if record[:start] % 60 == i*5 %> value="<%= i * 5 %>"><%= (i*5).to_s.rjust(2, '0') %></option>
                        <% end %>
                    </select>

                    <div class="am_pm dcf-mb-0 dcf-pl-3">
                        <div class="dcf-d-flex dcf-ai-center">
                            <label class="dcf-label dcf-2nd dcf-mt-0 dcf-ml-1" for="hours-start-am">AM</label>
                            <input <%= 'checked="checked"' if record[:start] < 720 %> class="start-time-am-pm dcf-flex-shrink-0" title="AM" type="radio" value="am" name="<%= z = String.token %>">
                        </div>
                        <div class="dcf-d-flex dcf-ai-center">
                            <label class="dcf-label dcf-2nd dcf-mt-0 dcf-ml-1" for="hours-start-pm">PM</label>
                            <input <%= 'checked="checked"' if record[:start] >= 720 %> class="start-time-am-pm dcf-flex-shrink-0" title="PM" type="radio" value="pm" name="<%= z %>">
                        </div>
                    </div>
                </div>

                <label for="end-date">until</label>
                <div class="dcf-d-flex dcf-ai-center dcf-flex-grow-1 dcf-mt-4 dcf-mr-4">
                    <select class="end-time-hour dcf-flex-grow-1 dcf-input-select" title="End Time Hour">
                        <option value=""></option>
                        <% (1..12).each do |i| %>
                        <option <%= 'selected="selected"' if [y = record[:end] / 60, y+12, y-12].include?(i) %> value="<%= i %>"><%= i %></option>
                        <% end %>
                    </select>&nbsp;:&nbsp;

                    <select class="end-time-minute dcf-flex-grow-1 dcf-input-select" title="End Time Minute">
                        <option value=""></option>
                        <% (0..11).each do |i| %>
                        <option <%= 'selected="selected"' if record[:start] % 60 == i*5 %> value="<%= i * 5 %>"><%= (i*5).to_s.rjust(2, '0') %></option>
                        <% end %>
                    </select>

                    <div class="am_pm dcf-mb-0 dcf-pl-3">
                        <div class="dcf-d-flex dcf-ai-center">
                            <label class="dcf-label dcf-2nd dcf-mt-0 dcf-ml-1" for="hours-end-am">AM</label>
                            <input <%= 'checked="checked"' if record[:end] < 720 %> class="end-time-am-pm dcf-flex-shrink-0" title="AM" type="radio" value="am" name="<%= z = String.token %>">
                        </div>
                        <div class="dcf-d-flex dcf-ai-center">
                            <label class="dcf-label dcf-2nd dcf-mt-0 dcf-ml-1" for="hours-end-pm">PM</label>
                            <input <%= 'checked="checked"' if record[:end] >= 720 %> class="end-time-am-pm dcf-flex-shrink-0" title="PM" type="radio" value="pm" name="<%= z %>">
                        </div>
                    </div>
                </div>

                &nbsp;
                <button title="Remove" type="button" class="<%= 'hidden' if x == 0 %> remove-hours dcf-btn">&times;</button>
            </div>
            <% end %>
        </div>
        <button id="add-hours" type="button" class="dcf-btn wdn-button-complement">Add Hours</button>
    </fieldset>

    <button type="submit" class="dcf-btn dcf-btn-primary">Submit</button>
</form>

<% append_script_declaration(%q[WDN.initializePlugin('jqueryui', [function() {
    $ = require('jquery');
    $('.datepicker').datepicker();
    $("LINK[href^='//unlcms.unl.edu/wdn/templates_4.0/scripts/plugins/ui/css/jquery-ui.min.css']").remove();

    $('#hours-container').on('click', '.remove-hours', function(click) {
        click.preventDefault();
        $(this).closest('.hours-record').remove();
    });

    $('#add-hours').click(function (click) {
        click.preventDefault();
        var random1 = Math.random().toString(36).substring(7);
        var random2 = Math.random().toString(36).substring(7);
        var element = $('#base-hours-0').clone();
        element.find('.remove-hours').removeClass('hidden');
        element.find('.start-time-am-pm').attr('name', random1);
        element.find('.end-time-am-pm').attr('name', random2);
        $('#hours-container').append(element);
    });

    $('#create-hours').submit(function (submit) {
        var hours = []

        $.each($('.hours-record'), function (index, element) {
            element = $(element);
            hours.push({
                status: element.find('.hours-type').val(),
                start_hour: element.find('.start-time-hour').val(),
                start_minute: element.find('.start-time-minute').val(),
                start_am_pm: element.find('.start-time-am-pm:checked').val(),
                end_hour: element.find('.end-time-hour').val(),
                end_minute: element.find('.end-time-minute').val(),
                end_am_pm: element.find('.end-time-am-pm:checked').val(),
            });
        });

        $('#hours').val(JSON.stringify(hours));
    });

}]);]) %>