<h1 class="dcf-txt-h3">Send Email</h1>

<form class="dcf-form" action="" method="POST" enctype="multipart/form-data">
	<div class="dcf-grid dcf-col-gap-vw">
		<fieldset class="dcf-col-100% dcf-col-50%-start@sm">
			<legend>Send to:</legend>
			<div class="dcf-form-group dcf-input-checkbox">
			    <input type="checkbox" id="send-to-all-non-admins" name="send_to_all_non_admins">
			    <label for="send-to-all-non-admins">All Non-Admins</label>
			</div>
			<div class="dcf-form-group dcf-input-checkbox">
			    <input type="checkbox" id="send-to-all-users" name="send_to_all_users">
			    <label for="send-to-all-users">All Users</label>
			</div>
			<div class="dcf-form-group dcf-input-checkbox">
			    <input type="checkbox" id="send-to-all-students" name="send_to_all_students">
			    <label title="UNL Undergrad, UNL Grad, Other Student" for="send-to-all-students">All Students</label>
			</div>
			<div class="dcf-form-group dcf-input-checkbox">
			    <input type="checkbox" id="send-to-all-facstaff" name="send_to_all_facstaff">
			    <label title="UNL Staff, UNL Faculty, Emeritus UNL Faculty" for="send-to-all-facstaff">All UNL Faculty/Staff</label>
			</div>
			<div class="dcf-form-group dcf-input-checkbox">
			    <input type="checkbox" id="send-to-all-active-users" name="send_to_all_active_users">
			    <label for="send-to-all-active-users">All Active Users</label>
			</div>
			<div class="dcf-form-group dcf-input-checkbox">
			    <input type="checkbox" id="send-to-all-inactive-users" name="send_to_all_inactive_users">
			    <label for="send-to-all-inactive-users">All Inactive Users</label>
			</div>
			<div class="dcf-form-group dcf-input-group">
			    <div class="dcf-input-checkbox">
			        <input type="checkbox" id="send-to-all-with-tool-authorization" name="send_to_all_with_tool_authorization">
			        <label title="Tool Authorizations" for="send-to-all-with-tool-authorization"><span class="dcf-sr-only">Tool Authorizations</span></label>
			    </div>
                <div class="dcf-form-group">
                    <label for="tool-authorization">All Users with Specific Tool Authorization(s) (use Shift or Ctrl/Cmd to select multiple):</label>
                    <select class="dcf-txt-sm" multiple="multiple" id="tool-authorization" name="tool_authorization[]" >
                        <% tools.each do |tool| %>
                            <option value="<%= tool.id %>"><%= tool.name %></option>
                        <% end %>
                    </select>
                </div>
            </div>
			<div class="dcf-form-group dcf-input-group">
			    <div class="dcf-input-checkbox">
			        <input type="checkbox" id="send-to-specific-group" name="send_to_specific_group">
			        <label title="Specific Groups" for="send-to-specific-group"><span class="dcf-sr-only">Alert Group</span></label>
			    </div>
                <div class="dcf-form-group">
                    <label for="specific-group">Alert Group(s) (use Shift or Ctrl/Cmd to select multiple):</label>
                    <select class="dcf-txt-sm" multiple="multiple" id="specific-group" name="specific_group[]" >
                        <% alerts.each do |alert| %>
                            <option value="<%= alert.id %>"><%= alert.name %></option>
                        <% end %>
                    </select>
                </div>
            </div>
			<div class="dcf-form-group dcf-input-group">
			    <div class="dcf-input-checkbox">
			        <input type="checkbox" id="send-to-specific-user" name="send_to_specific_user">
			        <label title="Specific Users" for="send-to-specific-user"><span class="dcf-sr-only">Specific Users</span></label>
			    </div>
                <div class="dcf-form-group">
                    <label for="specific-user">Specific User(s) (use Shift or Ctrl/Cmd to select multiple):</label>
                    <select class="dcf-txt-sm" multiple="multiple" id="specific-user" name="specific_user[]" >
                        <% users.sort{|x,y| x.sortable_name.downcase <=> y.sortable_name.downcase}.each do |user| %>
                        <option value="<%= user.id %>"><%= user.sortable_name %></option>
                        <% end %>
                    </select>
                </div>
            </div>
			<div class="dcf-form-group dcf-input-group">
                <div class="dcf-form-group">
					<label for="preset-email">Select a Preset Email:</label>
					<select id="preset-email" tabindex="1" name="preset_email" class="dcf-input-select">
						<option value="0"></option>
						<% preset_emails.each do |preset| %>
							<option value="<%= preset.id %>"><%= preset.name %></option>
						<% end %>
					</select>
                </div>
            </div>
			<div class="dcf-form-group dcf-input-group">
                <div class="dcf-form-group">
					<label for="email-type">Select the Email Type:</label>
					<select id="email-type" tabindex="1" name="email_type" class="dcf-input-select">
						<option value="0"></option>
						<% Emailer.type_options.each do |cat_id, name| %>
							<option value="<%= cat_id %>"><%= name %></option>
						<% end %>
					</select>
                </div>
            </div>
		</fieldset>

		<fieldset class="dcf-col-100% dcf-col-50%-end@sm">
			<legend>Attachments</legend>
			<div id="files">
				<div id="file-container" class="dcf-mt-3 file-container" style="padding-right: 60px; position: relative;">
					<input class="file-input" type="file" name="file_1" aria-label="Upload email attachment" />
					<button style="display: none; position: absolute; right: 5px; top: 5px;" type="button" class="remove-file dcf-btn dcf-btn-secondary">&times;</button>
				</div>
			</div>
			<br>
			<button id="add-file" type="button" class="dcf-btn dcf-btn-secondary">Add another file</button>
		</fieldset>
	</div>

	<fieldset>
		<legend>Compose</legend>
		<label for="subject">Subject:</label>
		<input type="text" id="subject" name="subject" style="width:100%;" />

		<label for="body">Body:</label>
		<textarea class="ckeditor" style="min-height: 150px" id="body" name="body"></textarea>
		<br>
		<button type="submit" class="dcf-btn dcf-btn-primary">Send</button>
	</fieldset>
</form>

<% append_script_tag('/js/lib/ckeditor/ckeditor.js') %>

<% append_script_declaration(%q[var files = 1;
require(['jquery'], function ($) {
	$(document).ready(function () {
		$('#specific-user').change(function (change) {
			$('#send-to-specific-user').attr('checked', true);
		});

		$('#add-file').click(function (click) {
			click.preventDefault();
			$input_div = $('#file-container').clone();
			$input_div.removeAttr('id');
			$input_div.find('.file-input').attr('name', 'file_' + ++files);
			$input_div.find('.remove-file').show();
			$('#files').append($input_div);
		});

		$('#files').on('click', '.remove-file', function (click) {
			click.preventDefault();
			$(this).closest('.file-container').remove();
		});

		// pull in the preset emails
		let xhttp = new XMLHttpRequest();
		let preset_emails = [];
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				preset_emails = JSON.parse(xhttp.responseText);
			}
		};
		xhttp.open("GET", "/admin/email/preset_emails_json/?", true);
		xhttp.send();

		// autofill the preset email's subject and body when selected
		$('#preset-email').change(function() {
			let preset_id = $('#preset-email').val();
			if (preset_id > 0) {
				preset_emails.every(obj => {
					if (obj.id == preset_id) {
						$('#subject').val(obj.subject);
						// need to test emails on staging and make sure the emails send correctly after replacing \n with <br>
						CKEDITOR.instances["body"].setData(obj.body.replace("\\n", "<br>"));
						return false;
					}
					return true;
				});
			} else {
				$('#subject').val("");
				CKEDITOR.instances["body"].setData("");
			}
		});
	});
});]) %>