<div id="pagetitle">
    <h3>Manage Users<span class="dcf-subhead"><a id="show-toolbox" href="#">Show Toolbox</a></span></h3>
</div>

<div id="toolbox" class="toolbox" style="display: none;">
    <h3>Toolbox <span style="float: right;"><a style="color: white;" href="#" id="hide-toolbox">&ndash;</a></span></h3>
    <div class="tools">
        <a class="dcf-btn dcf-btn-primary" href="/admin/users/create/">Create User</a>
        <a class="dcf-btn dcf-btn-primary" href="/admin/users/<%= @user.id %>/edit/">Edit My User</a>
        <a class="dcf-btn wdn-button-triad" href="/admin/users/<%= @user.id %>/manage/">My Tools</a>
        <a class="dcf-btn wdn-button-complement" href="/admin/users/download/">Download User Data</a>
    </div>
</div>

<form id="find-controls">
    <div class="dcf-grid dcf-col-gap-vw dcf-row-gap-6">
        <div class="dcf-col-100% dcf-col-25%-start@sm">
            <label style="font-size: 120%; margin-right: 20px;">Find users by:</label>
            <br>
            <a href="/admin/users/" class="dcf-btn" style="font-size: 60%">Clear</a>
        </div>
        <div class="dcf-col-100% dcf-col-75%-end@sm">
            <div class="dcf-grid-full dcf-grid-halves@sm dcf-col-gap-vw">
                <div>
                    <label>Studio Status:</label>
                    <select id="studio-status" name="studio_status" class="dcf-input-select">
                        <option value=""></option>
                        <% USER_STATII.each do |word| %>
                            <option <%= 'selected="selected"' if studio_status == word %> value="<%= word %>"><%= word %></option>
                        <% end %>
                    </select>
                </div>
                <div>
                    <label>Tool Authorization:</label>
                    <select id="tool-authorization" name="tool_authorization" class="dcf-input-select">
                        <option value=""></option>
                        <% tools.each do |tool| %>
                            <option <%= 'selected="selected"' if selected_tool.to_i == tool.id %> value="<%= tool.id %>"><%= tool.name %></option>
                        <% end %>
                    </select>
                </div>
            </div>
        </div>
    </div>
</form>

<% if users.count > 0 %>
<div>
    <table class="event-list">
        <thead class="small-hidden">
            <tr>
                <th style="max-width: 80px;">&nbsp;</th>
                <th>Name</th>
                <th>Email</th>
                <th>Tool Authorizations</th>
                <th>Expiration Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        <% users.each do |user| %>
            <tr>
                <td style="max-width: 80px;">
                    <% if user.imagedata %>
                    <img src="<%= user.image_src %>" alt="Image for User: <%= user.username %>">
                    <% end %>
                </td>
                <td>
                    <%= user.full_name %><br>
                    <span class="dcf-txt-sm"><%= user.university_status %></span>
                </td>
                <td>
                    <%= user.email %>
                </td>
                <td>
                    <% if user.authorized_resource_ids.count == 0 %>
                        None
                    <% else %>
                        <%= user.resource_authorizations.map(&:resource).map(&:name).first(5).join('<br>') %>
                        <% if user.authorized_resource_ids.count > 5 %>
                        <br><a href="/admin/users/<%= user.id %>/manage/">... and <%= user.authorized_resource_ids.count - 5 %> more</a>
                        <% end %>
                    <% end %>
                </td>
                <td>
                <%= user.expiration_date.strftime('%m/%d/%Y') if user.expiration_date %>
                </td>
                <td class="table-actions">
                    <a href="/admin/users/<%= user.id %>/edit/" class="dcf-btn dcf-btn-primary">Edit</a>
                    <a href="/admin/users/<%= user.id %>/manage/" class="dcf-btn wdn-button-triad">Tools</a>
                    <form class="delete-form delete-user" action="/admin/users/<%= user.id %>/delete/" method="POST">
                        <button type="submit" class="dcf-btn">Delete</button>
                    </form>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>
<% else %>
<br>
<label>No users meet this criteria, or you have not created any. Open the toolbox to get started.</label>
<% end %>

<% append_script_declaration(%q[require(['jquery'], function($) {
    $(document).ready(function() {
        $('.delete-user').submit(function (submit) {
            if (!window.confirm('Are you sure you want to delete this user?')) {
                submit.preventDefault();
            }
        });

        $('#show-toolbox').click(function (click) {
            click.preventDefault();
            $('#show-toolbox').hide();
            $('#toolbox').slideDown();
        });
        $('#hide-toolbox').click(function (click) {
            click.preventDefault();
            $('#toolbox').slideUp(400, function () {
                $('#show-toolbox').show();
            });
        });

        $('#studio-status, #tool-authorization').change(function (change) {
            // construct new get URL from what we have
            var conditions = [];
            if ($('#studio-status').val() != '') {
                conditions.push('studio_status=' + $('#studio-status').val())
            }
            if ($('#tool-authorization').val() != '') {
                conditions.push('selected_tool=' + $('#tool-authorization').val());
            }

            window.location = '?' + conditions.join('&');
        });
    });
});]) %>