<div id="pagetitle">
    <h3>Manage Users</h3>
</div>

<a class="wdn-button wdn-button-brand" href="/admin/users/create/">Create User</a><br><br>

<div>
    <table class="event-list">
        <thead class="small-hidden">
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Tool Authorizations</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        <% users.each do |user| %>
            <tr>
                <td>
                    <%= user.full_name %>
                </td>
                <td>
                    <%= user.username %>
                </td>
                <td>
                    <%= user.email %>
                </td>
                <td>
                    <%= user.authorized_resource_ids.count %> tools
                </td>
                <td class="table-actions">
                    <a href="/admin/users/<%= user.id %>/edit/" class="wdn-button wdn-button-brand">Edit</a>
                    <a href="/admin/users/<%= user.id %>/manage/" class="wdn-button wdn-button-triad">Manage</a>
                    <form class="delete-form delete-user" action="/admin/users/<%= user.id %>/delete/" method="POST">
                        <button type="submit" class="wdn-button">Delete</button>
                    </form>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>

<script type="text/javascript">
require(['jquery'], function($) {
    $(document).ready(function() {
        $('.delete-user').submit(function (submit) {
            if (!window.confirm('Are you sure you want to delete this user?')) {
                submit.preventDefault();
            }
        });
    });
});
</script>