<h1 class="dcf-txt-h3" id="Edit_Project">Edit Project</h1>

<% if params[:returning_to_warehouse] %>
    <div>
        <a href="/checkout/warehouse/" class="dcf-btn dcf-btn-secondary dcf-25% dcf-w-max-2xs dcf-mb-4" type="button">Back to Warehouse</a>
    </div>
<% else %>
    <div>
        <a href="/checkout/user/?nuid=<%= user.user_nuid %>" class="dcf-btn dcf-btn-secondary dcf-25% dcf-w-max-2xs dcf-mb-4" type="button">Back to Checkout</a>
    </div>
<% end %>

<div class="dcf-grid dcf-col-gap-vw">
    <fieldset class="dcf-form dcf-col-100% dcf-col-50%-start@sm unl-b-darker-gray dcf-rounded dcf-b-1 dcf-b-solid dcf-pt-4 dcf-pb-4 dcf-p dcf-pr-7 dcf-pl-7">
        <legend>Project Details</legend>
        <form id="edit-project-form" action="" method="POST" enctype="multipart/form-data">
            <div class="dcf-form-group ">
                <label for="nuid">Owner NUID <small class="dcf-required">Required</small></label>
                <input class="dcf-w-100%" type="text" id="nuid" name="nuid" value ="<%= owner.user_nuid %>" />
            </div>

            <div class="dcf-form-group">
                <label for="title">Title <small class="dcf-required">Required</small></label>
                <input class="dcf-w-100%" type="text" id="title" name="title" value ="<%= title %>" />
            </div>

            <div class="dcf-form-group">
                <label for="description">Description</label>
                <input class="dcf-w-100%" type="text" id="description" name="description" value ="<%= description %>" />
            </div>

            <div class="dcf-form-group">
                <label for="password">Bin ID <small class="dcf-required">Required</small></label>
                <input class="dcf-w-100%" type="text" id="bin_id" name="bin_id" value ="<%= bin_id %>" />
            </div>
            <div class="dcf-d-flex dcf-flex-row dcf-flex-nowrap">
                <button class="dcf-mt-3 dcf-btn dcf-btn-primary dcf-mr-4" type="submit">Update</button>
                <button class="dcf-mt-3 dcf-btn dcf-btn-secondary" type="submit" form="delete-project-form">Delete</button>
            </div>
        </form>
        <form class="dcf-form dcf-w-100% dcf-mb-1" id="delete-project-form" action="/checkout/project/edit/delete/?project_id=<%= project_id %>" method="POST" onsubmit="return confirm('Delete project?');">
        </form>
    </fieldset>

    <fieldset class="dcf-form dcf-col-100% dcf-col-50%-end@sm unl-b-darker-gray dcf-rounded dcf-b-1 dcf-b-solid dcf-pt-4 dcf-pb-4 dcf-p dcf-pr-7 dcf-pl-7">
        <legend>Project Teammates</legend>
        <form class="dcf-form dcf-w-100% dcf-mb-1" id="find-nuid" action="/checkout/project/<%= project_id %>/edit/teammates/?" method="POST" enctype="application/x-www-form-urlencoded">
            <div class="dcf-input-group">
                <input id="nuid-input" name="nuid" placeholder="Add a new teammate by NUID" type="text"/>
                <button class="dcf-btn dcf-btn-primary" type="submit">Add Teammate</button>
            </div>
        </form>
        <div class="dcf-overflow-x-auto dcf-p-1" tabindex="0">
            <% if teammates.present? %>
                <table class="dcf-table dcf-table-striped dcf-w-100%">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Date Added</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% teammates.each do | teammate | %>
                            <% user = User.find_by(id: teammate.teammate_id) %>
                            <tr class="dcf-ai-center dcf-col-gap-vw">
                                <td><%= user.full_name %></td>
                                <td><%= user.email %></td>
                                <td><%= teammate.created_on.strftime('%m/%d/%Y') %></td>
                                <td>
                                    <% if teammate.is_owner %>
                                        <p>(owner)</p>
                                    <% else %>
                                        <form class="dcf-form dcf-w-100%" action="/checkout/project/<%= project_id %>/edit/teammates/<%= teammate.id %>/remove" method="POST" enctype="application/x-www-form-urlencoded" onsubmit="return confirm('Remove <%= user.full_name %> as a teammate?');">
                                            <button class="dcf-btn dcf-btn-secondary" type="submit">Remove</button>
                                        </form>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            <% else %>
                <p>No teammates found.</p>
            <% end %>
        </div>
    </fieldset>
</div>
      