<h4 id="my-alerts">My Alerts</h4>
<p><%= user_alerts.empty? ?  "You are not signed up for any alerts. " : "" %>Check out the <a href="/alert_center/<%= @user.id %>/">alert center</a> to sign up for notifications or click a button below to sign up for all alerts of a category.</p>
<div class="dcf-mt-4">
    <form action="/home/add_all/6/" method="POST" class="dcf-form delete-form">
		<button class="dcf-mt-1 dcf-btn dcf-btn-secondary" type="submit">General</button>
	</form>
    <form action="/home/add_all/7/" method="POST" class="dcf-form delete-form">
		<button class="dcf-mt-1 dcf-btn dcf-btn-secondary" type="submit">Woodshop</button>
	</form>
    <form action="/home/add_all/8/" method="POST" class="dcf-form delete-form">
		<button class="dcf-mt-1 dcf-btn dcf-btn-secondary" type="submit">Metalshop</button>
	</form>
    <form action="/home/add_all/9/" method="POST" class="dcf-form delete-form">
		<button class="dcf-mt-1 dcf-btn dcf-btn-secondary" type="submit">Digital Fabrication</button>
	</form>
</div>

<% if !user_alerts.empty? %>
<br>
<table class="dcf-w-100% dcf-table dcf-table-bordered" aria-describedby="my-alerts">
    <thead>
        <tr>
            <th>Alert Name</th>
            <th>Category</th>
            <th>Description</th>
            <th>Remove Subscription</th>
        </tr>
    </thead>
    <tbody>
    <% user_alerts.each do |alert| %>
        <% alert_data = Alert.find_by(:id => alert.alert_id) %>
        <tr>
            <td>
                <p> <%= alert_data.name %> </p>
            </td>
            <td>
                <p> <%= alert_data.category_name %> </p>
            </td>
            <td>
                <p> <%= alert_data.description %> </p>
            </td>
            <td class="table-actions">
                <form action="/home/<%= alert.id %>/remove_signup/<%= alert_data.id %>/" method="POST" class="dcf-form delete-form">
					<button class="dcf-btn dcf-btn-primary" type="submit">Unsubscribe</button>
				</form>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
<% end %>
