<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css">
<link rel="stylesheet" href="/css/histogram.css">

<div class="dcf-grid dcf-col-gap-vw dcf-flex-wrap dcf-mb-4 dcf-row-gap-6">

    <div class="dcf-col-100% dcf-col-50%@md dcf-d-flex dcf-jc-center dcf-ai-center">    
        <h1 class="dcf-txt-h1 dcf-txt-center" id="Title">Kiewit Garage Status</h1>
    </div>

    <div class="dcf-col-100% dcf-col-50%@md dcf-flex dcf-jc-center">
        <h2 class="dcf-txt-h2 dcf-txt-center">Weekly Forecast</h2>
            <div class="dcf-col-100% dcf-w-100% dcf-jc-center" style="margin-top:15px">
                <table class="dcf-table dcf-table-bordered dcf-w-100%">
                <thead>
                    <tr>
                    <th></th>
                    <% forecasts_by_day.each_key do |day| %>
                        <th><%= day %></th>
                    <% end %>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">Forecast</th>
                    <% forecasts_by_day.each_value do |forecast| %>
                        <td><%= forecast.nil? ? "N/A" : forecast %></td>
                    <% end %>
                    </tr>
                    <tr>
                    <th scope="row">Change From Last Week</th>
                    <% forecasts_by_day.each_key do |day| %>
                        <% change = changes_by_day[day] %>
                        <td style="color: <%= change.nil? ? '' : (change > 0 ? 'green' : (change < 0 ? 'red' : '')) %>">
                        <%= change.nil? ? "N/A" : "#{change > 0 ? '+' : ''}#{change}" %>
                        </td>
                    <% end %>
                    </tr>
                </tbody>
                </table>
            </div>    
    </div>    
</div>

<div id="reservations-histogram">
  <table class="charts-css column show-labels data-spacing-3 show-heading">
    <caption>Reservations (Last updated: <%= chart_start.strftime('%Y-%m-%d %H:%M') %>)</caption>
    <thead>
      <tr>
        <th scope="col">Time</th>
        <th scope="col">Count</th>
      </tr>
    </thead>
    <tbody>
      <% max_count = bins.values.max.nonzero? || 1 %> <!-- prevent divide-by-zero -->
      <% colors = ['#0072ce', '#28a745', '#dc3545', '#ffc107', '#6f42c1'] %>
      <% bins.sort.each_with_index do |(interval, count), idx| %>
        <tr>
        <th scope="row"><div class="time-interval"><%= interval.strftime('%H:%M') %></div></th>
          <td
            style="--size: <%= (count.to_f / max_count).round(2) %>; --color: <%= colors[idx % colors.length] %>;"
            data-value="<%= count %>">
            <%= count %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


    <div class="dcf-grid dcf-col-gap-vw dcf-flex-wrap dcf-mt-4 dcf-row-gap-6">

        <%# left side of the page#%>
        <div class="dcf-col-100% dcf-col-50%@md dcf-flex dcf-jc-center">
            <h2 class="dcf-txt-h2 dcf-txt-center" id="timeless_title">Timeless Event Potentials</h2>
                <div class="dcf-col-100% dcf-w-100%" style="margin-top:15px">
                    <table class="dcf-table dcf-table-bordered dcf-w-100%" aria-describedby="timeless_potentials">
                        <thead>
                            <tr>
                                <th scope="col">Event</th>
                                <th class="dcf-txt-center" scope="col">Potentials</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>New User Orientation</td>
                                <td class="dcf-txt-center"><%= orientation_potentials %> </td>
                            </tr>
                            <% timeless_events.each do |event| %>
                                <tr>
                                    <td><%= event[:title] %></td>
                                    <td class="dcf-txt-center"><%= event[:potential_walkins] %></td>
                                </tr>
                            <% end %>    
                        </tbody>
                    </table>
                </div>
        </div>
            

        <%# right side of the page  dcf-grid dcf-col-gap-vw dcf-flex-wrap  #%>
        <div class="dcf-col-100% dcf-col-50%@md dcf-flex dcf-jc-center">
                            
            <div class="dcf-col-100% dcf-w-100% dcf-flex-wrap">
                <div class="dcf-col-67%-center dcf-felx-wrap">
                    <h2 class="dcf-txt-h2 dcf-txt-center">Currently Locked Out Equipment (<%= lockout_count %>)</h2>
                    <% if lockout_count > 0 %>
                        <table class="dcf-table dcf-table-bordered dcf-w-100%" aria-describedby="Down-Machines">
                            <thead>
                                <tr>
                                    <th>Machine Name</th>
                                    <th>Description</th>
                                    <th>Start Date</th>
                                    <th>Scheduled Release Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% lockouts.each do |lockout| %>
                                    <tr>
                                        <td><%= lockout.resource_name%></td>
                                        <td><%= lockout.description %></td>
                                        <td><%= lockout.started_on.strftime('%Y-%m-%d %H:%M') if lockout.started_on %></td>
                                        <td><%= lockout.released_on.strftime('%Y-%m-%d %H:%M') if lockout.released_on %></td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                    <% else %>
                        <h3 class="dcf-txt-h3 dcf-txt-center ">No Locked Out Equipment</h3>
                    <% end %>

                    <h2 class="dcf-txt-h2 dcf-txt-center dcf-mt-4">Upcoming Scheduled Lockouts</h2>
                    <% if upcoming_lockouts.count > 0 %>
                        <table class="dcf-table dcf-table-bordered dcf-w-100%" aria-describedby="Upcoming-Machines">
                            <thead>
                                <tr>
                                    <th>Machine Name</th>
                                    <th>Description</th>
                                    <th>Scheduled Start Date</th>
                                    <th>Scheduled Release Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% upcoming_lockouts.each do |lockout| %>
                                    <tr>
                                        <td><%= lockout.resource_name%></td>
                                        <td><%= lockout.description %></td>
                                        <td><%= lockout.started_on.strftime('%Y-%m-%d %H:%M') if lockout.started_on %></td>
                                        <td><%= lockout.released_on.strftime('%Y-%m-%d %H:%M') if lockout.released_on %></td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                    <% else %>
                        <h3 class="dcf-txt-h3 dcf-txt-center ">No Upcoming Lockouts</h3>
                    <% end %>
                </div>
            </div>
        
        </div>
    </div>

