<% events_groups = events.group_by do |event|
	event.start_time.in_time_zone.strftime("%Y/%m/%d")
end %>

<div id="pagetitle">
	<h3>
		Innovation Studio Calendar
		<span class="wdn-subhead">See all our upcoming events!</span>
	</h3>
</div>

<div style="margin-bottom: 16px;">
<a href="/calendar/?date=<%= (date-7.days).strftime('%Y-%m-%d') %>" class="wdn-button wdn-button-triad" id="prev-week">&lt; PREV</a>
<a href="/calendar/?date=<%= (date+7.days).strftime('%Y-%m-%d') %>" class="wdn-button wdn-button-triad" style="float: right;" id="next-week">NEXT &gt;</a>
</div>

<div class="calendar-container">
	<div class="time-labels">
		<div class="time-chart">
			<% (12..47).each do |j| %>
				<div class="calendar-half-hour">
					<label><%= "#{(j / 2) % 12 + (j==24?12:0)} #{j>=24?'PM':'AM'}" if j % 2 == 0 %></label>
				</div>
			<% end %>
		</div>
	</div>
	<% (1..5).map{|i| sunday+i.days}.each do |day| %>
	<% slots = [0] * 36 %>
	<div class="calendar-day" data-day="<%= day.strftime("%Y/%m/%d") %>">
		<label class="day-header"><%= day.strftime("%^a %-m/%d") %></label>
		<div class="day-chart">
			<% day_events = events_groups[day.strftime("%Y/%m/%d")] %>
			<% unless day_events.nil? %>
			<% day_events.sort{|a, b| a.start_time <=> b.start_time}.each do |event| %>
				<% start_slot = [(((event.start_time.in_time_zone - day.midnight) / 60 - 360) / 30).floor, 0].max 
				end_slot = [(((event.end_time.in_time_zone - day.midnight) / 60 - 360) / 30).floor, 35].min 
				if end_slot < 0
					next
				end
				over = 0 
				(start_slot..end_slot).each do |k|
					over = slots[k] if slots[k] > over
				end
				over = [over,5].min
				top = (((event.start_time.in_time_zone - day.midnight) / 60 - 360) / 30) * 20
				height = event.length * 20 / 30
				top_overflow = false
				bottom_overflow = false
				if top < 0
					height += top
					top = 0
					top_overflow = true
				end 
				if top + height > 720
					height = 720 - top
					bottom_overflow = true
					events_groups[(day + 1.day).strftime("%Y/%m/%d")] ||= []
					events_groups[(day + 1.day).strftime("%Y/%m/%d")] << event
				end
				%>
				<div class="event <%= event.type.description.downcase.split(' ').join('-') %> <%= 'top-overflow' if top_overflow %> <%= 'bottom-overflow' if bottom_overflow %>" 
					style="top: <%= top %>px; height: <%= height %>px; left: <%=over*8%>px">
					<% if event.info_link %>
					<a href="<%= event.info_link %>"><%= event.title %></a>
					<% else %>
					<%= event.title %>
					<% end %>
				</div>
				<% (start_slot..end_slot).each do |k| %>
					<% slots[k] = slots[k] + 1 %>
				<% end %>
			<% end %>
			<% end %>
			<div>
			<% (12..47).each do |j| %>
				<div class="calendar-half-hour">
					&nbsp;
				</div>
			<% end %>
			</div>
		</div>
	</div>
	<% end %>
</div>

<script type="text/javascript">
require(['jquery'], function ($) {
	var max_z = 5;
	$(document).ready(function () {
		$('.event').click(function (click) {
			$(this).css('z-index', max_z);
			max_z += 1;
		});
	});
});
</script>