<% events_groups = events.group_by do |event|
	event.start_time.in_time_zone.strftime("%Y/%m/%d")
end %>

<div id="pagetitle">
	<h3>Innovation Studio Calendar
	<span class="wdn-subhead">See all our upcoming events!</span></h3>
</div>

<div style="margin-bottom: 16px;">
<a href="/calendar/?date=<%= (date-7.days).strftime('%Y-%m-%d') %>" class="wdn-button wdn-button-triad" id="prev-week">&lt; PREV</a>
<a href="/calendar/?date=<%= (date+7.days).strftime('%Y-%m-%d') %>" class="wdn-button wdn-button-triad" style="float: right;" id="next-week">NEXT &gt;</a>
</div>


<div class="calendar-container">
	<div class="time-labels">
		<div class="time-chart">
			<% (12..47).each do |j| %>
				<div class="calendar-half-hour">
					<label><%= "#{(j / 2) % 12 + (j==24?12:0)} #{j>=24?'PM':'AM'}" if j % 2 == 0 %></label>
				</div>
			<% end %>
		</div>
	</div>
	<% (1..5).map{|i| sunday+i.days}.each do |day| %>
	<div class="calendar-day" data-day="<%= day.strftime("%Y/%m/%d") %>">
		<label class="day-header"><%= day.strftime("%^a %-m/%d") %></label>
		<div class="day-chart">
			<% day_events = events_groups[day.strftime("%Y/%m/%d")] %>
			<% unless day_events.nil? %>
			<% day_events.each do |event| %>
				<div class="event <%= event.type.description.downcase.split(' ').join('-') %>" 
					style="top: <%= ((event.start_time.in_time_zone.minutes_after_midnight - 360) / 30) * 20 %>px; height: <%= event.length * 20 / 30 %>px;">
				<a href="<%= event.info_link %>"><%= event.title %></a>
				</div>
			<% end %>
			<% end %>
			<div>
			<% (12..47).each do |j| %>
				<div class="calendar-half-hour">
					&nbsp;
				</div>
			<% end %>
			</div>
		</div>
	</div>
	<% end %>
</div>
