<% events_groups = events.group_by do |event|
	event.start_time.in_time_zone.strftime("%Y/%m/%d")
end %>

<h1 class="dcf-txt-h3">
    Innovation Studio Calendar
    <span class="dcf-subhead">See all our upcoming events!</span>
</h1>

<div class="dcf-mb-3">
<h2 class="dcf-txt-h4 dcf-txt-center">
<%= month = sunday.strftime('%B %Y') %><%= (month2 = (sunday+6.days).strftime('%B %Y')) == month ? '' : " - #{month2}" %>
</h2>
<a href="/calendar/?date=<%= (date-7.days).strftime('%Y-%m-%d') %>" class="dcf-btn dcf-btn-secondary" id="prev-week">&lt; PREV</a>
<a href="/calendar/?date=<%= (date+7.days).strftime('%Y-%m-%d') %>" class="dcf-btn dcf-btn-secondary dcf-float-right" id="next-week">NEXT &gt;</a>
</div>

<div class="calendar-container">
	<div class="time-labels">
		<div class="time-chart">
			<% (12..47).each do |j| %>
				<div class="calendar-half-hour">
					<label><%= "#{(j / 2) % 12 + (j==24?12:0)} #{j>=24?'PM':'AM'}" if j % 2 == 0 %></label>
				</div>
			<% end %>
		</div>
	</div>
	<% (0..6).each do |i| %>
	<% day = (sunday + i.days + 1.hour).midnight %>
	<% slots = [0] * 36 %>
	<% max_slots = [0] * 36 %>
	<div class="calendar-day" data-day="<%= day.strftime("%Y/%m/%d") %>">
		<label class="day-header"><%= day.strftime("%^a %-m/%d") %></label>
		<div class="day-chart" title="Open">
			<% if week_hours.has_key?(i) %>
				<% # figure out where the closed divs need to be
					# we can assume that all records in this space_hour are non-intertwined
					closed_start = 0
					closed_end = 0
					starts = week_hours[i].hours.map{|record| record[:start]}
					ends = week_hours[i].hours.map{|record| record[:end]}
					%> <%
					closeds = []
					(360..1439).each do |j|
						if starts.include?(j)
							closed_end = j
							closeds << [closed_start, closed_end]
							closed_start = 0
							closed_end = 0
						end
						if ends.include?(j)
							closed_start = j
						end
					end 
					closed_end = 1440
					closeds << [closed_start, closed_end]

					closeds.each do |closed|
						start_time = closed[0] %>
	            		<% end_time = closed[1] %>
	            		<% 
	            		if [((end_time - 360) / 30).floor, 35].min  < 0
							next
						end
						top = ((start_time - 360) / 30) * 20
						height = (end_time - start_time) * 20 / 30
						if top < 0
							height += top
							top = 0
						end 
						if top + height > 720
							height = 720 - top
						end
						%>
						<div class="status closed" title="Closed" style="top: <%= top %>px; height: <%= height %>px;">
							&nbsp;
						</div>
						<%
					end
				%>
				<% week_hours[i].hours.each do |record| %>
					<% if record[:status] != 'open' && record[:status] != 'closed' %>
						<% start_time = record[:start] %>
	            		<% end_time = record[:end] %>
	            		<% if [((end_time - 360) / 30).floor, 35].min  < 0
							next
						end
						top = ((start_time - 360) / 30) * 20
						height = (end_time - start_time) * 20 / 30
						if top < 0
							height += top
							top = 0
						end 
						if top + height > 720
							height = 720 - top
						end
						%>
						<div title="<%= record[:status].split('_').join(' ').capitalize_all %>" class="status <%= record[:status].downcase.split('_').join('-') %>" style="top: <%= top %>px; height: <%= height %>px;">
							&nbsp;
						</div>
					<% end %>
				<% end %>
			<% end %>

			<% day_events = events_groups[day.strftime("%Y/%m/%d")] %>
			<% unless day_events.nil? %>
			<% day_events.sort{|a, b| a.start_time <=> b.start_time}.each do |event| %>
			<% if !event.is_private || (event.is_private && @user.is_super_user?) %>
				<% start_slot = [(((event.start_time.in_time_zone - day.midnight) / 60 - 360) / 30).floor, 0].max 
				end_slot = [(((event.end_time.in_time_zone - day.midnight) / 60 - 361) / 30).floor, 35].min

				(start_slot..end_slot).each do |k| %>
					<% max_slots[k] = max_slots[k] + 1 %>
				<% end %>
			<% end %>
			<% end %>
			<% day_events.sort{|a, b| a.start_time <=> b.start_time}.each do |event| %>
			<% if !event.is_private || (event.is_private && @user.is_super_user?) %>
				<% start_slot = [(((event.start_time.in_time_zone - day.midnight) / 60 - 360) / 30).floor, 0].max 
				end_slot = [(((event.end_time.in_time_zone - day.midnight) / 60 - 361) / 30).floor, 35].min 
				if end_slot < 0
					next
				end
				over = 0
				size = 1
				(start_slot..end_slot).each do |k|
					over = slots[k] if slots[k] > over
					size = max_slots[k] if max_slots[k] > size
				end
				over = [over,3].min
				top = (((event.start_time.in_time_zone - day.midnight) / 60 - 360) / 30) * 20
				height = event.length * 20 / 30
				top_overflow = false
				bottom_overflow = false
				if top < 0
					height += top
					top = 0
					top_overflow = true
				end 
				if top + height > 720
					height = 720 - top
					bottom_overflow = true
					events_groups[(day + 1.day).strftime("%Y/%m/%d")] ||= []
					events_groups[(day + 1.day).strftime("%Y/%m/%d")] << event
				end
				%>
				<div class="event <%= event.type.description.downcase.split(' ').join('-') %> <%= 'top-overflow' if top_overflow %> <%= 'bottom-overflow' if bottom_overflow %>" 
					style="top: <%= top %>px; height: <%= height %>px; left: <%=over*80/size%>%; width: <%=10+80/size%>%;">
					<% if event.info_link %>
					<a href="<%= event.info_link %>"><%= event.title %></a>
					<% else %>
					<%= event.title %>
					<% end %>
				</div>
				<% (start_slot..end_slot).each do |k| %>
					<% slots[k] = slots[k] + 1 %>
				<% end %>
			<% end %>
			<% end %>
			<% end %>
			
			<div>
			<% (12..47).each do |j| %>
				<div class="calendar-half-hour">
					&nbsp;
				</div>
			<% end %>
			</div>
		</div>
	</div>
	<% end %>
</div>

<% append_script_declaration(%q[require(['jquery'], function ($) {
	var max_z = 5;
	$(document).ready(function () {
		$('.event').click(function (click) {
			$(this).css('z-index', max_z);
			max_z += 1;
		});
	});
});]) %>