
<h1 class="dcf-txt-h3">Check-In</h1>

<h5>Hello, <%= @user.full_name %> (<%= @user.username %>)</h5>
<% if !@user.expiration_date.nil? && @user.expiration_date > Date.today %>
    <h4 style ="<%= @user.expiration_date > (Time.now + 1.weeks) ? "" : "color:orange;" %>">Your membership will expire on: <%= @user.expiration_date.to_formatted_s(:long_ordinal)[0...-5] %></h4>
<% else %>
    <h4 style="color:#d00000;">Your membership is expired.</h4> 
    <h6>Please ask a NIS Staff Member to help you activate your membership.</h6>
<% end %>

<form class="dcf-form" id="check_in" action="" method="POST">
    <div class="dcf-grid-full dcf-grid-halves@sm dcf-col-gap-vw">
        <fieldset>
            <div class="dcf-form-group">
                <label for='ReasonOfVisit'>What is the reason of your visit today?</label>
                <select id='ReasonOfVisit' name='ReasonOfVisit'>
                    <% reasons.each do |reason| %>
                        <option value="<%= reason %>"><%= reason %></option>
                    <% end %>
                <select>
            </div>
            <div class="dcf-form-group">
                <label for='StudioUsed'>What studio do you plan on using today?</label>
                <select id='StudioUsed' name='StudioUsed'>
                    <% studios.each do |studio| %>
                        <option value="<%= studio %>"><%= studio %></option>
                    <% end %>
                <select>
            </div>
            <button class="dcf-mt-3 dcf-btn dcf-btn-primary" type="submit">Check-In</button>
        </fieldset>
    </div>
</form>
