<div class="dcf-modal" id="enter-code-modal" hidden>
  <div class="dcf-modal-wrapper">
    <div class="dcf-modal-header">
      <h2>Code Required</h2>
      <button class="dcf-btn-close-modal">Close</button>
    </div>
    <div class="dcf-modal-content">
        <p>To sign up for this event, please enter the code that you received from the NIS administrators.

        <form class="dcf-form inline-form" id="signup-with-code-form" action="" method="POST">                                                         
            <div class="dcf-form-group">
                <label for="code">Event Signup Code:</label>
                <input type="text" id="event_code" name="event_code" />
            </div>
            <button type="submit" class="dcf-btn dcf-btn-primary">Sign Up!</button>
        </form>
    </div>
  </div>
</div>

<div class="event-details dcf-p-4">
	<div>
		<h3>
	    	<%= event.title %> <span class="dcf-subhead"><%= event.type.description %></span>
	    </h3>
	</div>
	<div>
		<span class="date-wrapper eventicon-calendar-empty">
	    	<time class="dtstart"><%= event.start_time.in_time_zone.strftime('%b %d, %Y') %></time>
		</span>
		<span class="time-wrapper eventicon-clock">
	    	<%= event.start_time.in_time_zone.strftime('%l:%M %P') %>–<%= event.end_time.in_time_zone.strftime('%l:%M %P') %>
	    </span>
		<div class="location eventicon-location">
			<%= event.location.name %>
		</div>
		<% unless event.imagedata.nil? %>
		<div class="inset-image">
			<img src="<%= event.image_src %>" alt="Image for Event: <%= event.title %>">
		</div>
		<% end %>
		<div class="description">
	    	<%= event.description.nl2br.force_encoding("UTF-8") %>
	    </div>
	</div>
</div>

<% # free events do not require signup but users can mark it on their homepage %>
<% if @user && event.signups.map(&:user_id).include?(@user.id) %>
	<% # the user is already signed up %>
	<% if event.free_event_type? %>
		This event is noted on your homepage.<br>
		<a href='/home/' class="dcf-btn dcf-btn-secondary">View Homepage</a>
	<% else %>
		You have signed up for this event.<br>
		<a href='/home/' class="dcf-btn dcf-btn-secondary">View Homepage</a>
	<% end %>
<% elsif @user %>
	<% # the user is logged in but not signed up %>
	<% if !event.signup_allowed_for_type? %>
        Please read details above on how to signup for this event.
	<% elsif event.max_signups.nil? || event.signups.count < event.max_signups %>
        <form class="dcf-form" action="/events/<%= event.id %>/sign_up/" method="POST">
        <button type="submit" <% if event.event_code.present? %> onclick="promptCode('/events/<%= event.id %>/sign_up/', event);" data-toggles-modal="enter-code-modal" <% end %> class="dcf-btn dcf-btn-primary dcf-btn-toggle-modal">
            <% if event.free_event_type? %>
                Note event on my homepage
            <% else %>
                Sign up for this event
            <% end %>
        </a>
        </form>
	<% else %>
	    All slots for this event are filled.
	<% end %>
<% else %>
	<% # a non user. May still sign up for the event UNLESS it is a tool training %>
	<% if !event.machine_training_event_type? %>
		<% if !event.signup_allowed_for_type? %>
            Please read details above on how to signup for this event.
        <% elsif event.max_signups.nil? || event.signups.count < event.max_signups %>
		    <a <% if event.event_code.present? %> onclick="promptCode('/events/<%= event.id %>/sign_up_as_non_member/', event);" data-toggles-modal="enter-code-modal" <% end %> class="dcf-btn dcf-btn-primary dcf-btn-toggle-modal" href="/events/<%= event.id %>/sign_up_as_non_member/">Sign up for this event</a>
		<% else %>
		    All slots for this event are filled.
		<% end %>
	<% end %>
<% end %>

<script>
    function promptCode(signupLink, event) {
        event.preventDefault();
        document.getElementById('signup-with-code-form').setAttribute('action', signupLink);
    }
</script>