<!DOCTYPE html>
<html class="no-js" lang="en"><!-- InstanceBegin template="/Templates/fixed.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_4.1/includes/metanfavico.html"))).result %>
<!--
    Membership and regular participation in the UNL Web Developer Network is required to use the UNLedu Web Framework. Visit the WDN site at http://wdn.unl.edu/. Register for our mailing list and add your site or server to UNLwebaudit.
    All framework code is the property of the UNL Web Developer Network. The code seen in a source code view is not, and may not be used as, a template. You may not use this code, a reverse-engineered version of this code, or its associated visual presentation in whole or in part to create a derivative work.
    This message may not be removed from any pages based on the UNLedu Web Framework.

    $Id: fixed.dwt | 6edb0e1ee94038935f3821c6ce15dfd5c217b2e2 | Tue Dec 1 17:08:56 2015 -0600 | Kevin Abel  $
-->
<%= erb :scriptsandstyles %>
<!-- InstanceBeginEditable name="doctitle" -->
<title><%= @title %> | University of Nebraska&ndash;Lincoln</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- Place optional header elements here -->
<link rel="stylesheet" href="/css/innovation_studio.css">
<link rel="stylesheet" href="/css/jquery-ui.min-custom.css">
<script type="text/javascript">WDN.initializePlugin("notice");</script>
<!-- InstanceEndEditable -->
<!-- InstanceParam name="class" type="text" value="" -->
</head>
<body class="" data-version="4.1">
    <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_4.1/includes/skipnav.html"))).result %>
    <div id="wdn_wrapper">
        <input type="checkbox" id="wdn_menu_toggle" value="Show navigation menu" class="wdn-content-slide wdn-input-driver" />
        <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_4.1/includes/noscript-padding.html"))).result %>
        <header id="header" role="banner" class="wdn-content-slide wdn-band">
            <div id="wdn_header_top">
                <span id="wdn_institution_title"><a href="http://www.unl.edu/">University of Nebraska&ndash;Lincoln</a></span>
                <div id="wdn_resources">
                    <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_4.1/includes/wdnResources.html"))).result %>
                    <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_4.1/includes/idm.html"))).result %>
                    <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_4.1/includes/search.html"))).result %>
                </div>
            </div>
            <div id="wdn_logo_lockup">
                <div class="wdn-inner-wrapper">
                    <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_4.1/includes/logo.html"))).result %>
                    <span id="wdn_site_affiliation"><!-- InstanceBeginEditable name="affiliation" --><a href="http://innovate.unl.edu">Nebraska Innovation Campus</a><!-- InstanceEndEditable --></span>
                    <span id="wdn_site_title"><!-- InstanceBeginEditable name="titlegraphic" -->Nebraska Innovation Studio Manager<!-- InstanceEndEditable --></span>
                </div>
            </div>
        </header>
        <div id="wdn_navigation_bar" class="wdn-band">
            <nav id="breadcrumbs" class="wdn-inner-wrapper" role="navigation" aria-label="breadcrumbs">
                <!-- InstanceBeginEditable name="breadcrumbs" -->
                <ul>
                    <% @breadcrumbs.each do |crumb| %>
                    <% if crumb[:href].nil? %>
                    <li><%= crumb[:text] %></li>
                    <% else %>
                    <li><a href="<%= crumb[:href] %>" title="<%= crumb[:title] || crumb[:text] %>"><%= crumb[:text] %></a></li>
                    <% end %>
                    <% end %>
                </ul>
                <!-- InstanceEndEditable -->
            </nav>
            <div id="wdn_navigation_wrapper">
                <nav id="navigation" role="navigation" aria-label="main navigation">
                    <!-- InstanceBeginEditable name="navlinks" -->
                    <%= erb :navigation %>
                    <!-- InstanceEndEditable -->
                    <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_4.1/includes/navigation-addons.html"))).result %>
                </nav>
            </div>
        </div>
        <div class="wdn-menu-trigger wdn-content-slide">
            <label for="wdn_menu_toggle" class="wdn-icon-menu">Menu</label>
            <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_4.1/includes/share.html"))).result %>
        </div>
        <main id="wdn_content_wrapper" role="main" class="wdn-content-slide" tabindex="-1">
            <div id="maincontent" class="wdn-main">
                <div class="wdn-band">
                    <div class="wdn-inner-wrapper">
                        <% unless session["notice"].nil? %>
                            <% notices = session.delete("notice") %>
                            <% notices.each do |notice| %>
                            <% notice_class = '' %>
                            <% case notice[:type]
                                when 'success', :success
                                    notice_class = 'affirm'
                                when 'failure', :failure
                                    notice_class = 'negate'
                                when 'alert', 'danger', 'error', :error, :alert, :danger
                                    notice_class = 'alert' %>
                            <% end %>
                            <div id="notice" class="wdn_notice <%= notice_class %>">
                                <div class="close">
                                <a href="#" title="Close this notice">Close this notice</a>
                                </div>
                                <div class="message">
                                    <h4><%= notice[:header] %></h4>
                                    <div class="message-content">
                                        <%= notice[:message] %>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                        <% else %>
                        <% session.delete(:notice) %>
                        <% session.delete("notice") %>
                        <% end %>
                        <%= yield %>
                    </div>
                </div>
            </div>
        </main>
        <footer id="footer" role="contentinfo" class="wdn-content-slide">
            <div id="wdn_optional_footer" class="wdn-band wdn-footer-optional">
                <div class="wdn-inner-wrapper">
                    <!-- InstanceBeginEditable name="optionalfooter" -->
                <!-- InstanceEndEditable -->
                </div>
            </div>
            <div id="wdn_local_footer" class="wdn-band wdn-footer-local">
                <div class="wdn-inner-wrapper">
                    <!-- InstanceBeginEditable name="contactinfo" -->
                    <div class="wdn-grid-set wdn-footer-links-local">
                        <div class="bp640-wdn-col-one-third">
                            <%= erb :footer_contact_info %>
                        </div>
                    <!-- InstanceEndEditable -->
                    <!-- InstanceBeginEditable name="leftcollinks" -->
                        <div class="bp640-wdn-col-one-third">
                            <%= erb :related_links %>
                        </div>
                    <!-- InstanceEndEditable -->
                    </div>
                </div>
            </div>
            <div id="wdn_global_footer" class="wdn-band wdn-footer-global">
                <div class="wdn-inner-wrapper">
                   <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_4.1/includes/globalfooter.html"))).result %>
                </div>
            </div>
        </footer>
        <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_4.1/includes/noscript.html"))).result %>
    </div>
    <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_4.1/includes/body_scripts.html"))).result %>
</body>
<!-- InstanceEnd --></html>