<!DOCTYPE html>
<% template_dep_version = Time.now.strftime("%F")  %>
<html class="dcf-no-js dcf-no-webp" lang="en">
  <head>
    <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/head-1.html"), encoding: 'UTF-8')).result %>
    <!--
      Membership and regular participation in the University of Nebraska–Lincoln (UNL) Web Developer Network (WDN) is required to use the UNLedu Web Framework. Visit the WDN site at https://wdn.unl.edu/. Register for our mailing list and add your site or server to UNL Web Audit.
      All framework code is the property of the UNL Web Developer Network. The code seen in a source code view is not, and may not be used as, a template. You may not use this code, a reverse-engineered version of this code, or its associated visual presentation in whole or in part to create a derivative work.
      This message may not be removed from any pages based on the UNLedu Web Framework.

      $Id$
    -->
    <!-- TemplateBeginEditable name="doctitle" -->
    <title><%= CONFIG['app']['title'] %> | University of Nebraska&ndash;Lincoln</title>
    <!-- TemplateEndEditable -->
    <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/head-2-local.html"), encoding: 'UTF-8')).result.gsub('$DEP_VERSION$', template_dep_version) %>
    <!-- TemplateBeginEditable name="head" -->
    <!-- Place optional header elements here -->
    <link rel="stylesheet" href="/css/main.css?cb=<%= CONFIG['app']['cb_version'] %>">
    <link rel="stylesheet" href="/css/jquery-ui.min-custom.css?cb=<%= CONFIG['app']['cb_version'] %>">
    <!-- TemplateEndEditable -->
    <!-- TemplateParam name="class" type="text" value="" -->
  </head>
  <body class="unl" data-version="5.3">
    <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/skip-nav.html"), encoding: 'UTF-8')).result %>
    <header class="dcf-header dcf-d-none" id="dcf-header" role="banner">
      <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/header-global-1.html"), encoding: 'UTF-8')).result %>
      <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/cta-header-1.html"), encoding: 'UTF-8')).result %>
      <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/visit-header-1.html"), encoding: 'UTF-8')).result %>
      <!-- InstanceBeginEditable name="headervisit" -->
      <!-- InstanceEndEditable -->
      <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/visit-header-2.html"), encoding: 'UTF-8')).result %>
      <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/apply-header-1.html"), encoding: 'UTF-8')).result %>
      <!-- InstanceBeginEditable name="headerapply" -->
      <!-- InstanceEndEditable -->
      <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/apply-header-2.html"), encoding: 'UTF-8')).result %>
      <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/give-header-1.html"), encoding: 'UTF-8')).result %>
      <!-- InstanceBeginEditable name="headergive" -->
      <!-- InstanceEndEditable -->
      <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/give-header-2.html"), encoding: 'UTF-8')).result %>
      <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/cta-header-2.html"), encoding: 'UTF-8')).result %>
      <% if SS_ID == 8 %>
        <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/idm.html"), encoding: 'UTF-8')).result %>
      <% end %>
      <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/search.html"), encoding: 'UTF-8')).result %>
      <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/header-global-2.html"), encoding: 'UTF-8')).result %>
      <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/logo-lockup-1.html"), encoding: 'UTF-8')).result %>
      <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/site-affiliation-1.html"), encoding: 'UTF-8')).result %>
      <!-- InstanceBeginEditable name="affiliation" -->
      <a href="<%= @affiliation_link %>"><%= @affiliation %></a>
      <!-- InstanceEndEditable -->
      <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/site-affiliation-2.html"), encoding: 'UTF-8')).result %>
      <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/site-title-1.html"), encoding: 'UTF-8')).result %>
      <!-- InstanceBeginEditable name="titlegraphic" -->
      <a class="dcf-txt-h5" href="/"><%= CONFIG['app']['title'] %></a>
      <!-- InstanceEndEditable -->
      <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/site-title-2.html"), encoding: 'UTF-8')).result %>
      <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/logo-lockup-2.html"), encoding: 'UTF-8')).result %>
      <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/html_patches/patched-nav-toggle-group.html"), encoding: 'UTF-8')).result %>
      <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/nav-menu-1.html"), encoding: 'UTF-8')).result %>
      <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/nav-toggle-btn.html"), encoding: 'UTF-8')).result %>
      <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/nav-menu-child-1.html"), encoding: 'UTF-8')).result %>
      <!-- InstanceBeginEditable name="navlinks" -->
      <%= erb :'navigation' %>
      <!-- InstanceEndEditable -->
      <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/cta-nav-1.html"), encoding: 'UTF-8')).result %>
      <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/visit-nav-1.html"), encoding: 'UTF-8')).result %>
      <!-- InstanceBeginEditable name="navvisit" -->
      <!-- InstanceEndEditable -->
      <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/visit-nav-2.html"), encoding: 'UTF-8')).result %>
      <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/apply-nav-1.html"), encoding: 'UTF-8')).result %>
      <!-- InstanceBeginEditable name="navapply" -->
      <!-- InstanceEndEditable -->
      <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/apply-nav-2.html"), encoding: 'UTF-8')).result %>
      <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/give-nav-1.html"), encoding: 'UTF-8')).result %>
      <!-- InstanceBeginEditable name="navgive" -->
      <!-- InstanceEndEditable -->
      <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/give-nav-2.html"), encoding: 'UTF-8')).result %>
      <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/cta-nav-2.html"), encoding: 'UTF-8')).result %>
      <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/nav-menu-child-2.html"), encoding: 'UTF-8')).result %>
      <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/nav-menu-2.html"), encoding: 'UTF-8')).result %>
    </header>
    <main class="dcf-main dcf-pt-8" id="dcf-main" role="main" tabindex="-1">
      <div class="dcf-main-content dcf-wrapper">
        <!-- TemplateBeginEditable name="maincontentarea" -->
            <div class="dcf-bleed">
                <div class="dcf-wrapper dcf-pb-8">
                    <% unless session["notice"].nil? %>
                        <% notices = session.delete("notice") %>
                        <% notices.each do |notice| %>
                        <% notice_class = 'dcf-notice-info' %>
                        <% case notice[:type]
                            when 'success', :success
                                notice_class = 'dcf-notice-success'
                            when 'failure', :failure
                                notice_class = 'dcf-notice-danger'
                            when 'alert', 'danger', 'error', :error, :alert, :danger
                                notice_class = 'dcf-notice-warning' %>
                        <% end %>
                        <div id="notice" class="dcf-notice <%= notice_class %>" hidden>
                            <h2><%= notice[:header] %></h2>
                            <div class="message-content">
                                    <%= notice[:message] %>
                            </div>
                        </div>
                        <% end %>
                    <% else %>
                    <% session.delete(:notice) %>
                    <% session.delete("notice") %>
                    <% end %>
                    <%= yield %>
                </div>
            </div>
            <!-- TemplateEndEditable -->
      </div>
    </main>
    <footer class="dcf-footer dcf-d-none" id="dcf-footer" role="contentinfo">
      <!-- TemplateBeginEditable name="optionalfooter" -->
      <!-- TemplateEndEditable -->
      <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/footer-global-1.html"), encoding: 'UTF-8')).result %>
      <!-- TemplateBeginEditable name="contactinfo" -->
      <%= erb :'local_footer' %>
      <!-- TemplateEndEditable -->
      <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/footer-global-2.html"), encoding: 'UTF-8')).result %>
      <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/noscript.html"), encoding: 'UTF-8')).result %>
    </footer>
    <%= ERB.new(File.read(File.expand_path("#{ROOT}/public/wdn/templates_5.3/includes/global/js-body-local.html"), encoding: 'UTF-8')).result.gsub('$DEP_VERSION$', template_dep_version) %>
    <!-- TemplateBeginEditable name="jsbody" -->
    <!-- put your custom javascript here -->
    <script type="text/javascript">WDN.initializePlugin("notice");</script>
    <% if SS_ID == 8 %>
      <script>
        window.addEventListener('inlineJSReady', function() {
          let serviceURL = '<%= request.base_url %>/home/';
          let loginURL = 'https://shib.unl.edu/idp/profile/cas/login?service=' + encodeURIComponent(serviceURL);
          let logoutURL = encodeURI('<%= request.base_url %>/logout/');

          WDN.setPluginParam('idm', 'login', loginURL);
          WDN.setPluginParam('idm', 'logout', logoutURL);

          require(['idm'], function(idm) {
            <% if @user.nil? %>
              idm.renderAsLoggedOut();
            <% else %>
              let username = '<%= @user&.username %>' || "unknown"; 
              let profileURL = 'https://directory.unl.edu/people/' + username;
              let directoryAPI = profileURL + '?format=json';
    
              fetch(directoryAPI)
                .then(response => response.json())
                .then(data => {
                  let firstName = (data.givenName && data.givenName.length > 0) ? data.givenName[0] : "User";
    
                  idm.setUser({
                    'uid': username,
                    'cn': [username],
                    'displayName': [firstName]
                  });
    
                  idm.renderAsLoggedIn();
    
                  let profileLink = document.querySelector('.dcf-idm-options a[href*="false"]');
                  if (profileLink) {
                    profileLink.setAttribute('href', profileURL);
                  }
                })
                .catch(error => {
                  console.error("Error fetching user data from directory API:", error);
                });
            <% end %>
          });
        }, false);
      </script>
    <% end %>
    <%= @inline_body_script_content %>
    <!-- TemplateEndEditable -->
  </body>
</html>