<div class="dcf-mb-6">
    <a class="dcf-btn dcf-btn-primary" href="https://innovationstudio.unl.edu/covid-faq/">Covid FAQ</a>
</div>

<h1 class="dcf-txt-h3">Welcome to Innovation Studio Manager</h1>

<h5>Hello, <%= @user.full_name %> (<%= @user.username %>)</h5>
<% if !@user.expiration_date.nil? && @user.expiration_date > Date.today %>
    <h4 style ="<%= @user.expiration_date > (Time.now + 1.weeks) ? "" : "color:orange;" %>">Your membership will expire on: <%= @user.expiration_date.to_formatted_s(:long_ordinal)[0...-5] %></h4>
<% else %>
    <h4 style="color:#d00000;">Your membership is expired.</h4> 
    <h6>You can still reserve equipment and sign up for trainings. Please visit Nebraska Innovation Studio to activate your membership.</h6>
<% end %>

<h2 class="dcf-txt-h4" id="my-reservations">My Reservations</h2>
<% if reservations.empty? %>
<p>You have no upcoming reservations. You can <a href="/tools/trainings/">view upcoming trainings to get certified</a>, or <a href="/tools/">check out the list of tools you can reserve.</a></p>

<% else %>
<table class="dcf-w-100% dcf-table dcf-table-bordered" aria-describedby="my-reservations">
    <thead>
        <tr>
            <th>Tool</th>
            <th>Model</th>
            <th>Time</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    <% reservations.each do |reservation| %>
        <tr>
            <td>
                <%= reservation.resource.name %>
                <% if !reservation.event.nil? %>
                    <br><span class="dcf-txt-sm"><%= reservation.event.title %></span>
                <% end %>
            </td>
            <td>
                <%= reservation.resource.model %>
            </td>
            <td>
            	<%= reservation.start_time.in_time_zone.strftime('%m/%d/%Y @ %l:%M %P') %><br>
            	<%= reservation.length %> minutes
            </td>
            <td class="table-actions">
                <a href="/tools/<%= reservation.resource.id %>/edit_reservation/<%= reservation.id %>/" class="dcf-mt-1 dcf-btn dcf-btn-primary">Edit</a>
                <form method="POST" action="/tools/<%= reservation.resource.id %>/cancel/<%= reservation.id %>" class="dcf-form delete-form">
                    <button class="dcf-mt-1 dcf-btn dcf-btn-primary" type="submit">Remove</button>
                </form>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
<% end %>
<p class="dcf-mt-4">
    <a href="/tools/" class="dcf-btn dcf-btn-primary">Reserve Equipment</a>
</p>

<h4 id="my-events">My Events</h4>
<% if events.empty? %>
<p>You have not signed up for any upcoming events. Why not <a href="/calendar/">check out the calendar</a> to find some?</p>
<% else %>
<table class="dcf-w-100% dcf-table dcf-table-bordered" aria-describedby="my-events">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date/Location</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    <% events.each do |event| %>
        <tr>
            <td>
                <a href="<%= event.info_link %>"><%= event.title %></a>
            </td>
            <td>
                <%= event.start_time.in_time_zone.strftime('%m/%d/%Y @ %l:%M %P') %><br>
                <%= event.location.name %>
            </td>
            <td class="table-actions">
                <form action="/events/<%= event.id %>/remove_signup/" method="POST" class="dcf-form delete-form">
					<button class="dcf-btn dcf-btn-primary" type="submit">Remove</button>
				</form>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
<% end %>
<p class="dcf-mt-4">
    <a href="/tools/trainings/" class="dcf-mt-1 dcf-btn dcf-btn-secondary">View Trainings</a>
    <a href="/workshops/" class="dcf-mt-1 dcf-btn dcf-btn-secondary">View Workshops</a>
    <a href="/calendar/" class="dcf-mt-1 dcf-btn dcf-btn-secondary">View Full Calendar</a>
</p>


<h4 id="my-alerts">My Alerts</h4>
<p><%= user_alerts.empty? ?  "You are not signed up for any alerts. " : "" %>Check out the <a href="/alert_center/<%= @user.id %>/">alert center</a> to sign up for notifications or click a button below to sign up for all alerts of a category.</p>
<div class="dcf-mt-4">
    <form action="/home/add_all/1/" method="POST" class="dcf-form delete-form">
		<button class="dcf-mt-1 dcf-btn dcf-btn-secondary" type="submit">General</button>
	</form>
    <form action="/home/add_all/2/" method="POST" class="dcf-form delete-form">
		<button class="dcf-mt-1 dcf-btn dcf-btn-secondary" type="submit">Woodshop</button>
	</form>
    <form action="/home/add_all/3/" method="POST" class="dcf-form delete-form">
		<button class="dcf-mt-1 dcf-btn dcf-btn-secondary" type="submit">Metalshop</button>
	</form>
     <form action="/home/add_all/4/" method="POST" class="dcf-form delete-form">
		<button class="dcf-mt-1 dcf-btn dcf-btn-secondary" type="submit">Digital Fabrication</button>
	</form>
     <form action="/home/add_all/5/" method="POST" class="dcf-form delete-form">
		<button class="dcf-mt-1 dcf-btn dcf-btn-secondary" type="submit">Art</button>
	</form>
</div>

<% if !user_alerts.empty? %>
<br>
<table class="dcf-w-100% dcf-table dcf-table-bordered" aria-describedby="my-alerts">
    <thead>
        <tr>
            <th>Alert Name</th>
            <th>Category</th>
            <th>Description</th>
            <th>Remove Subscription</th>
        </tr>
    </thead>
    <tbody>
    <% user_alerts.each do |alert| %>
       <% alert_data = Alert.find_by(:id => alert.alert_id) %>
        <tr>
            <td>
                <p> <%= alert_data.name %> </p>
            </td>
            <td>
                <p> <%= alert_data.category_name %> </p>
            </td>
            <td>
               <p> <%= alert_data.description %> </p>
            </td>
            <td class="table-actions">
                <form action="/home/<%= alert.id %>/remove_signup/<%= alert_data.id %>/" method="POST" class="dcf-form delete-form">
					<button class="dcf-btn dcf-btn-primary" type="submit">Unsubscribe</button>
				</form>

            </td>
        </tr>
    <% end %>
    </tbody>
</table>
<% end %>

<% if @user.is_trainer == 1 %>
    <br>
    <h4 id="my-events">My Trainings</h4>
    <% if trainer_events.empty? %>
    <p>You have not been assigned as a trainer for any upcoming events.</p>
    <% else %>
    <table class="dcf-w-100% dcf-table dcf-table-bordered" aria-describedby="my-events">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date/Location</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        <% trainer_events.each do |event| %>
            <tr>
                <td>
                    <a href="<%= event.info_link %>"><%= event.title %></a>
                </td>
                <td>
                    <%= event.start_time.in_time_zone.strftime('%m/%d/%Y @ %l:%M %P') %><br>
                    <%= event.location.name %>
                </td>
                <% if event.trainer_confirmed == 1 %>
                    <td class="table-actions">
                        <div class="dcf-input-checkbox">
                            <input disabled id="training-confirmed" title="Training Confirmed" type="checkbox" checked name="training_confirmed">
                            <label for="training-confirmed">Training Confirmed</label>
                        </div>
                <% else %>
                    <td class="table-actions">
                        <form action="/events/<%= event.id %>/confirm_trainer/" method="POST" class="dcf-form">
                            <button class="dcf-btn dcf-btn-primary" type="submit">Confirm Training</button>
                        </form>
                    </td>
                <% end %>
            </tr>
        <% end %>
        </tbody>
    </table>
    <% end %>
<% end %>

<h4 id="export-events" style="margin-top:1em"> Export Trainings & Events </h4>
    <% if trainer_events.empty? && events.empty? %>
        <p> There are no scheduled trainings or events to export </p>
    <% else %>
        <p class="dcf-mt-4">
            <a href="/export/" class="dcf-btn dcf-btn-primary">Export to CSV</a>
        </p>
    <% end %>
