<div id="pagetitle">
	<h3>Welcome to Innovation Studio Manager</h3>
</div>

<h4>
My Reservations
</h4>
<% if reservations.empty? %>
You have no upcoming reservations. You can view upcoming trainings to get certified, or check out the list of tools you can reserve.<br>
<a href="/tools/trainings/" class="wdn-button wdn-button-triad">View Trainings</a> <a href="/tools/" class="wdn-button wdn-button-brand">View Tools</a>
<% else %>
<table>
    <thead>
        <tr>
            <th>Tool</th>
            <th>Model</th>
            <th>Time</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    <% reservations.each do |reservation| %>
        <tr>
            <td>
                <%= reservation.resource.name %>
                <% if !reservation.event.nil? %>
                    <br><small><%= reservation.event.title %></small>
                <% end %>
            </td>
            <td>
                <%= reservation.resource.model %>
            </td>
            <td>
            	<%= reservation.start_time.in_time_zone.strftime('%m/%d/%Y @ %l:%M %P') %><br>
            	<%= reservation.length %> minutes
            </td>
            <td class="table-actions">
                <a href="/tools/<%= reservation.resource.id %>/edit_reservation/<%= reservation.id %>/" class="wdn-button wdn-button-brand">Edit</a>
                <form method="POST" action="/tools/<%= reservation.resource.id %>/cancel/<%= reservation.id %>" class="delete-form">
                    <button class="wdn-button" type="submit">Remove</button>
                </form>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
<% end %>

<h4>
My Events
</h4>
<% if events.empty? %>
You have not signed up for any upcoming events. Why not check out the calendar to find some?<br>
<a href="/calendar/" class="wdn-button wdn-button-triad">View Calendar</a>
<% else %>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Date/Location</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    <% events.each do |event| %>
        <tr>
            <td>
                <a href="<%= event.info_link %>"><%= event.title %></a>
            </td>
            <td>
                <%= event.start_time.in_time_zone.strftime('%m/%d/%Y @ %l:%M %P') %><br>
                <%= event.location.name %>
            </td>
            <td class="table-actions">
            	<form action="/events/<%= event.id %>/remove_signup/" method="POST" class="delete-form">
					<button class="wdn-button" type="submit">
					Remove
					</button>
				</form>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
<% end %>
