<div class="dcf-mb-6">
    <a class="dcf-btn dcf-btn-primary" href="https://innovationstudio.unl.edu/covid-faq/">Covid FAQ</a>
</div>

<h1 class="dcf-txt-h3">Welcome to Innovation Studio Manager</h1>

<h5>Hello, <%= @user.full_name %> (<%= @user.username %>)</h5>

<h2 class="dcf-txt-h4" id="my-reservations">My Reservations</h2>
<% if reservations.empty? %>
<p>You have no upcoming reservations. You can <a href="/tools/trainings/">view upcoming trainings to get certified</a>, or <a href="/tools/">check out the list of tools you can reserve.</a></p>

<% else %>
<table class="dcf-w-100% dcf-table dcf-table-bordered" aria-describedby="my-reservations">
    <thead>
        <tr>
            <th>Tool</th>
            <th>Model</th>
            <th>Time</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    <% reservations.each do |reservation| %>
        <tr>
            <td>
                <%= reservation.resource.name %>
                <% if !reservation.event.nil? %>
                    <br><span class="dcf-txt-sm"><%= reservation.event.title %></span>
                <% end %>
            </td>
            <td>
                <%= reservation.resource.model %>
            </td>
            <td>
            	<%= reservation.start_time.in_time_zone.strftime('%m/%d/%Y @ %l:%M %P') %><br>
            	<%= reservation.length %> minutes
            </td>
            <td class="table-actions">
                <a href="/tools/<%= reservation.resource.id %>/edit_reservation/<%= reservation.id %>/" class="dcf-mt-1 dcf-btn dcf-btn-primary">Edit</a>
                <form method="POST" action="/tools/<%= reservation.resource.id %>/cancel/<%= reservation.id %>" class="dcf-form delete-form">
                    <button class="dcf-mt-1 dcf-btn dcf-btn-primary" type="submit">Remove</button>
                </form>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
<% end %>
<p class="dcf-mt-4">
    <a href="/tools/" class="dcf-btn dcf-btn-primary">Reserve Equipment</a>
</p>

<h4 id="my-events">My Events</h4>
<% if events.empty? %>
<p>You have not signed up for any upcoming events. Why not <a href="/calendar/">check out the calendar</a> to find some?</p>
<% else %>
<table class="dcf-w-100% dcf-table dcf-table-bordered" aria-describedby="my-events">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date/Location</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    <% events.each do |event| %>
        <tr>
            <td>
                <a href="<%= event.info_link %>"><%= event.title %></a>
            </td>
            <td>
                <%= event.start_time.in_time_zone.strftime('%m/%d/%Y @ %l:%M %P') %><br>
                <%= event.location.name %>
            </td>
            <td class="table-actions">
                <form action="/events/<%= event.id %>/remove_signup/" method="POST" class="dcf-form delete-form">
					<button class="dcf-btn dcf-btn-primary" type="submit">Remove</button>
				</form>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
<% end %>
<p class="dcf-mt-4">
    <a href="/tools/trainings/" class="dcf-mt-1 dcf-btn dcf-btn-secondary">View Trainings</a>
    <a href="/workshops/" class="dcf-mt-1 dcf-btn dcf-btn-secondary">View Workshops</a>
    <a href="/calendar/" class="dcf-mt-1 dcf-btn dcf-btn-secondary">View Full Calendar</a>
</p>
