<h1>Lockout <%= tool.name %></h1>

<% if tool.is_locked_out? %>
	<p>
		WARNING: This tool is currently locked out. Only create another lockout if you are scheduling a future lockout. Anticipated duration is required.
	</p>
<% end %>

<form class="dcf-form" action="/lockout/<%= tool.id %>/create/" method="post">
	<input type="hidden" name="resource_id" value="<%= tool.id %>"/>
	<input type="hidden" name="user_id" value="<%= @user.id %>"/>
	<label for="description">Description</label>
	<textarea required id="description" name="description" placeholder="Description"></textarea>
	<br/>
	<% if has_permission?(Permission::MANAGE_LOCKOUT)%>
		<div class="dcf-d-flex dcf-flex-row dcf-gap-6">
			<fieldset>
			<legend>Anticipated Duration</legend>
			<div class="dcf-form-controls-inline dcf-gap-6">
			<div class="dcf-datepicker">
						<label for="start_date">Start Date</label>
						<input id="start_date" type="text" name="start_date"></input>
					</div>
					<div>
					<label for="start_minutes">Start Time</label>
						<select id="start_minutes" name="start_minutes">
							<% available_start_times.each do |minutes| %>
								<option value="<%= minutes %>"><%= Time.from_minutes(minutes).strftime("%l:%M %p") %></option>
							<% end %>
						</select>
						</div>
				</div>
				<div class="dcf-form-controls-inline dcf-gap-6">
					<div class="dcf-datepicker">
						<label for="end_date">End Date</label>
						<input id="end_date" type="text" name="end_date"></input>
					</div>
					<div>
						<label for="end_minutes">End Time</label>
						<select id="end_minutes" name="end_minutes">
							<% available_start_times.each do |minutes| %>
								<option value="<%= minutes %>"><%= Time.from_minutes(minutes).strftime("%l:%M %p") %></option>
							<% end %>
						</select>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend>Scheduled Lockouts</legend>
				<table class="dcf-table dcf-table-striped dcf-table-responsive">
				<thead>
				<tr>
					<th scope="col">Starts On</th>
					<th scope="col">Releases On</th>
					<th scope="col">Description</th>
				</tr>
					</thead>
					<tbody>
					<% scheduled_lockouts.each do |lockout| %>
						<tr>
							<td>
							<%= lockout.started_on.in_time_zone.strftime("%b %-d, %Y %-I:%M%P") %>
							</td>
							<td>
								<% if lockout.released_on.nil? %>
									<p>Manual</p>
								<% else %>
									<%= lockout.released_on.in_time_zone.strftime("%b %-d, %Y %-I:%M%P") %> 
								<% end %>
							</td>
							<td>
								<%= lockout.description %>
							</td>
						</tr>
					<% end %>
					</tbody>
				</table>
			</fieldset>
		</div>
		<br/>
	<% end %>
	<button class="dcf-btn dcf-btn-primary" type="submit">Create Lockout</button>
</form>
<script>
	window.addEventListener('inlineJSReady', function() {
		WDN.initializePlugin('datepickers');
	}, false);
</script>