<%
require 'models/maker_request'

name = ''
email = ''
phone = ''
category = ''
description = ''

description_placeholder = 'Describe what you would like to have made.'
%>

<form class="dcf-form" id="maker_request_form" action="" method="POST" >

     <fieldset>
        <legend>Your Contact Information</legend>

        <label for="requestor-name">Name</label>
        <input type="text" id="requestor-name" name="requestor_name" value="<%= name %>" />

        <label for="requestor-email">Email Address</label>
        <input type="text" id="requestor-email" name="requestor_email" value="" />

        <label for="requestor-phone">Phone</label>
        <input type="text" id="requestor-phone" name="requestor_phone" value="" />
     </fieldset>

     <fieldset>
        <legend>Request Information</legend>

        <label for="university-status">Category</label>
        <select id="category_id" name="category_id">
            <option value="">Select a Category</option>
            <% Maker_Request.category_options.each do |value, label|
                selected = ''
                selected = ' selected="selected"' if category == value
            %>
            <option value="<%= value %>"<%= selected %>><%= label %></option>
            <% end %>
        </select>

        <label for="description">Description</label>
        <textarea id="description" name="description" placeholder="<%= description_placeholder %>"><%= description %></textarea>
     </fieldset>

     <button class="dcf-btn dcf-btn-primary" type="submit">Submit</button>
</form>