<%
require 'models/maker_request'
description_placeholder = 'Describe what you would like to have made.'
mode = 'Create'
mode = 'Update' if !maker_request.id.nil?

if !@user.nil? && mode == 'Create'
    if maker_request.requestor_name.nil?
        maker_request.requestor_name = @user.full_name
    end
    if maker_request.requestor_email.nil?
        maker_request.requestor_email = @user.email
        extras[:confirm_email] = @user.email
    end
end
%>

<div id="pagetitle">
<h3><%= mode %> Maker Request</h3>
</div>

<form class="dcf-form" id="maker_request_form" action="" method="POST" enctype="multipart/form-data">

     <fieldset>
        <legend>Your Contact Information</legend>

        <div class="dcf-form-group">
          <label for="requestor-name">Name <small class="dcf-required">Required</small></label>
          <input type="text" id="requestor-name" name="requestor_name" value="<%= maker_request.requestor_name %>" />
        </div>

        <div class="dcf-form-group dcf-mt-2">
          <label for="requestor-email">Email Address <small class="dcf-required">Required</small></label>
          <input type="text" id="requestor-email" name="requestor_email" value="<%= maker_request.requestor_email %>" />
        </div>

        <div class="dcf-form-group dcf-mt-2">
          <label for="confirm-email">Confirm Email Address <small class="dcf-required">Required</small></label>
          <input type="text" id="confirm-email" name="confirm_email" value="<%= extras[:confirm_email] %>" />
        </div>

        <div class="dcf-form-group dcf-mt-2">
          <label for="requestor-phone">Phone</label>
          <input type="text" id="requestor-phone" name="requestor_phone" value="<%= maker_request.requestor_phone %>" />
        </div>
     </fieldset>

     <fieldset>
        <legend>Request Information</legend>

        <div class="dcf-form-group">
          <label for="title">Project Title <small class="dcf-required">Required</small></label>
          <input type="text" id="title" name="title" value="<%= maker_request.title %>" />
        </div>

        <div class="dcf-form-group dcf-mt-2">
          <label for="category-id">Category <small class="dcf-required">Required</small></label>
          <select id="category-id" name="category_id">
              <option value="">Select a Category</option>
              <% Maker_Request.category_options.each do |value, label|
                  selected = ''
                  selected = ' selected="selected" ' if maker_request.category_id.to_i == value
              %>
              <option value="<%= value %>"<%= selected %>><%= label %></option>
              <% end %>
          </select>
        </div>

        <div class="dcf-form-group dcf-mt-2">
          <label for="description">Description <small class="dcf-required">Required</small></label>
          <textarea id="description" name="description" rows=8 placeholder="<%= description_placeholder %>"><%= maker_request.description %></textarea>
        </div>

        <div class="dcf-form-group dcf-mt-2">
           <label for="pdf-document">PDF Document </label>
           <% if maker_request.pdf_exists? %>
                <div class="dcf-mt-4 dcf-mb-4">
                     <a href="/<%= maker_request.pdf_href %>" target="_blank">View Current PDF Document</a>&nbsp;&nbsp;
                    <div class="dcf-input-checkbox dcf-d-inline">
                        <input id="remove-pdf-document" name="remove_pdf_document" type="checkbox" value="1">
                        <label for="remove-pdf-document">Remove</label>
                    </div>
                </div>
           <% end %>
           <input type="file" id="pdf-document" name="pdf_document" aria-describedby="pdf-document-help">
           <span class="dcf-form-help" id="pdf-document-help">You may upload an optional PDF which contains more a detailed description of your request.</span>
        </div>

        <div class="dcf-mt-6">
            <%= erb :'maker_request_expiration_notice' %>
            <%= erb :'maker_request_disclaimer' %>

            <div class="dcf-input-checkbox">
                <%
                    disclaimer_checked = ''
                    disclaimer_checked = ' checked="checked" ' if extras[:confirm_read_disclaimer].to_i == 1
                %>
                <input id="confirm-read-disclaimer" name="confirm_read_disclaimer" <%= disclaimer_checked %> type="checkbox" value="1">
                <label for="confirm-read-disclaimer">I accept disclaimer <small class="dcf-required">Required</small></label>
            </div>
        </div>

     </fieldset>

     <button class="dcf-btn dcf-btn-primary" type="submit">Submit</button>
     <% unless maker_request.uuid.nil? %>
        <a class="dcf-btn dcf-btn-secondary" href="/maker_request/<%= maker_request.uuid %>/manage" role="button">Cancel</a>
     <% end %>
</form>
