<div class="dcf-grid dcf-col-gap-vw dcf-row-gap-2">
    <div class="dcf-col-100% dcf-col-50%-start@sm">
        <dl class="dcf-w-max-lg dcf-txt-sm">
            <dt>Status</dt>
            <dd><%= Maker_Request.status_options[maker_request.status_id] %></dd>
            <dt>Category</dt>
            <dd><%= Maker_Request.category_options[maker_request.category_id] %></dd>
            <dt>Created</dt>
            <dd><%= maker_request.created.strftime('%b %e, %Y %l:%M %P') %></dd>
            <dt>Expires</dt>
            <dd><%= maker_request.expires.strftime('%b %e, %Y %l:%M %P') %></dd>
            <dt>Last Updated</dt>
            <dd><%= maker_request.updated.strftime('%b %e, %Y %l:%M %P') %></dd>
        </dl>
    </div>
    <div class="dcf-col-100% dcf-col-50%-end@sm">
        <dl class="dcf-w-max-lg dcf-txt-sm">
            <dt>Name</dt>
            <dd><%= maker_request.requestor_name %></dd>
            <dt>Email</dt>
            <dd><%= maker_request.requestor_email %></dd>
            <% unless maker_request.requestor_phone.empty? %>
            <dt>Phone</dt>
            <dd><%= maker_request.requestor_phone %></dd>
            <% end %>
        </dl>
    </div>
</div>

<dl class="dcf-w-max-lg dcf-txt-sm">
    <dt>Project Title</dt>
    <dd><%= maker_request.title %></dd>
    <dt>Description</dt>
    <dd><%= maker_request.description.gsub(/(?:\n\r?|\r\n?)/, '<br>') %></dd>
</dl>
