<%
require 'models/maker_request'
%>
<div id="pagetitle">
<h3>Maker Request List</h3>
</div>

 <table>
    <thead>
        <tr>
            <th>Project Title</th>
            <th>Category</th>
            <th>Submitted</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    <% maker_requests.each do |maker_request| %>
        <tr>
            <td><%= maker_request.title %></td>
            <td><%= Maker_Request.category_options[maker_request.category_id] %></td>
            <td><%= maker_request.created.strftime('%b %e, %Y %l:%M %P') %></td>
            <td>
            <% if @user.is_super_user? %>
                <a class="dcf-btn dcf-btn-primary" href="/maker_request/<%= maker_request.uuid %>/manage/" role="button">Manage</a>
                <a class="dcf-btn dcf-btn-primary" href="/maker_request/<%= maker_request.uuid %>/delete/" role="button" onclick="return confirm('Are you sure you want to DELETE this request.? This cannot be undone.');">Delete</a>
            <% else %>
                <a class="dcf-btn dcf-btn-primary" href="/maker_request/<%= maker_request.id %>/view/" role="button">View</a>
            <% end %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
<% if maker_requests.empty? %>
<p class="dcf-mt-4 dcf-bold">No open maker requests</p>
<% end %>

<div class="dcf-mt-6">
    <%= erb :'maker_request_expiration_notice' %>
    <%= erb :'maker_request_disclaimer' %>
</div>