<h1 class="dcf-txt-h3">Manage My Account</h1>

<p class="dcf-txt-sm"><a href="/home/">View your scheduled events and reservations</a></p>

<h2 class="dcf-txt-h4">Update Profile</h2>
<form class="dcf-form" action="" method="POST">
<section class="dcf-grid-full dcf-grid-halves@sm dcf-col-gap-vw">
<div>
    <div class="dcf-form-group">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" value="<%= @user.email %>" />
    </div>

    <div class="dcf-form-group">
        <label for="first-name">First Name</label>
        <input type="text" id="first-name" name="first_name" value="<%= @user.first_name %>" />
    </div>

    <div class="dcf-form-group">
        <label for="last-name">Last Name</label>
        <input type="text" id="last-name" name="last_name" value="<%= @user.last_name %>" />
    </div>

    <div class="dcf-form-group dcf-input-checkbox">
        <input type="checkbox" id="email-opt-out" name="email_opt_out" <%= 'checked="checked"' if !@user.space_status.nil? && @user.space_status.to_s.include?("no_email") %> />
        <label for="email-opt-out">I no longer want to receive emails from Nebraska Innovation Studio.</label>
    </div>

    <button type="submit" class="dcf-btn dcf-btn-primary">Save</button>
</div>
</section>
</form>

<h2 class="dcf-txt-h4 dcf-mt-6">Update Vehicle Information</h2>
<% if vehicles.count > 0 %>
<div>
    <table class="dcf-w-100% dcf-table dcf-table-bordered dcf-table-responsive" aria-label="Vehicles List">
        <thead>
            <tr>
                <th scope="col">License Plate</th>
                <th scope="col">State</th>
                <th scope="col">Make</th>
                <th scope="col">Model</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% vehicles.each do |vehicle| %>
                <tr>
                    <td>
                        <%= vehicle.license_plate %><br>
                    </td>
                    <td>
                        <%= vehicle.state %>
                    </td>
                    <td>
                        <%= vehicle.make %>
                    </td>
                    <td>
                        <%= vehicle.model %>
                    </td>
                    <td class="table-actions">
                        <a href="/vehicle/<%= vehicle.id %>/edit/" class="dcf-mt-1 dcf-btn dcf-btn-primary">Edit</a>
                        <form class="dcf-form delete-form delete-vehicle" action="/vehicle/<%= vehicle.id %>/delete/" method="POST">
                            <button type="submit" class="dcf-mt-1 dcf-btn dcf-btn-primary">Delete</button>
                        </form>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
<% end %>

<% if vehicles.count < 3 %>
    <a href="/vehicle/add">
        <button type="submit" class="dcf-mt-1 dcf-btn dcf-btn-primary" style="margin-top:20px !important;">Add Vehicle</button>
    </a>
<% end %>

<h2 class="dcf-txt-h4 dcf-mt-6">Change Password</h2>
<form class="dcf-form" action="/change-password/" method="POST">
<section class="dcf-grid-full dcf-grid-halves@sm dcf-col-gap-vw">
<div>
	<div class="dcf-form-group">
	    <label for="password">New Password</label>
	    <input type="password" id="password" name="password" />
	</div>

	<div class="dcf-form-group">
	    <label for="password2">Confirm New Password</label>
	    <input type="password" id="password2" name="password2" />
	</div>

	<button type="submit" class="dcf-btn dcf-btn-primary">Change Password</button>
</div>
</section>
</form>

<% append_script_declaration(%q[require(['jquery'], function($) {

    $(document).ready(function() {
        $('.delete-vehicle').submit(function (submit) {
            if (!window.confirm('Are you sure you want to delete this vehicle?')) {
                submit.preventDefault();
            }
        });
    });
});]) %>