<h1 class="dcf-txt-h3">
    Sign Up For New Member Orientation
	<span class="dcf-subhead"><%= event.start_time.in_time_zone.strftime('%m/%d/%Y @ %l:%M %P') %></span>
</h1>

<form class="dcf-form" id="signup" action="" method="POST" enctype="multipart/form-data">
    <div class="dcf-grid-full dcf-grid-halves@sm dcf-col-gap-vw">
        <fieldset>
            <div class="dcf-form-group">
                <label for="first-name">First Name</label>
                <input class="dcf-w-100%" type="text" id="first-name" name="first_name" required/>
            </div>

            <div class="dcf-form-group">
                <label for="last-name">Last Name</label>
                <input class="dcf-w-100%" type="text" id="last-name" name="last_name" required/>
            </div>

            <div class="dcf-form-group">
                <label for="email">Email Address</label>
                <input class="dcf-w-100%" type="text" id="email" name="email" required/>
            </div>

            <div class="dcf-form-group">
                <label for="university-status">University Status</label>
                <select id="university-status" name="university_status" required>
                    <% USER_STATII.each do |word| %>
                        <option value="<%= word %>"><%= word %></option>
                    <% end %>
                </select>
            </div>

            <div class="dcf-form-group">
                <div class="dcf-datepicker">
                    <label for="date-of-birth">Date of Birth</label>
                    <input id="date-of-birth" name="date-of-birth" type="text" value=<%= Date.today.strftime('%m/%d/%Y')%> required/>
                </div>
            </div>

            <div class="dcf-form-group">
                <div id="unl-association">
                <label for="unl-association">Are you a UNL Student, Faculty, or Staff Member?</label>
                    <div class="dcf-input-radio">
                        <input type="radio" id="unl-asso-yes" name="unl-asso-option" value="yes" required>
                        <label for="unl-asso-yes">Yes</label>
                    </div>
                    <div class="dcf-input-radio">
                        <input type="radio" id="unl-asso-no" name="unl-asso-option" value="no" required>
                        <label for="unl-asso-no">No</label>
                    </div>
                </div>
            </div>

            <div class="dcf-form-group">
                <div id="unl-permit" hidden='hidden'>
                <label for="unl-permit">Do you have a UNL Parking Permit?</label>
                    <div class="dcf-input-radio">
                        <input type="radio" id="unl-permit-yes" name="unl-permit-option" value="yes">
                        <label for="unl-permit-yes">Yes</label>
                    </div>
                    <div class="dcf-input-radio">
                        <input type="radio" id="unl-permit-no" name="unl-permit-option" value="no">
                        <label for="unl-permit-no">No</label>
                    </div>
                </div>
            </div>

            <div class="dcf-form-group">
                <div id="unl-perimeter" hidden='hidden'>
                <label for="unl-perimeter">Do you have a UNL Perimeter Parking?</label>
                    <div class="dcf-input-radio">
                        <input type="radio" id="unl-perim-yes" name="unl-perim-option" value="yes">
                        <label for="unl-perim-yes">Yes</label>
                    </div>
                    <div class="dcf-input-radio">
                        <input type="radio" id="unl-perim-no" name="unl-perim-option" value="no">
                        <label for="unl-perim-no">No</label>
                    </div>
                </div>
            </div>

            <div class="dcf-form-group">
                <div id="unl-garage" hidden='hidden'>
                <label for="unl-garage">Do you have a UNL Garage or Lot Parking?</label>
                    <div class="dcf-input-radio">
                        <input type="radio" id="unl-garage-yes" name="unl-garage-option" value="yes">
                        <label for="unl-garage-yes">Yes</label>
                    </div>
                    <div class="dcf-input-radio">
                        <input type="radio" id="unl-garage-no" name="unl-garage-option" value="no">
                        <label for="unl-garage-no">No</label>
                    </div>
                </div>
            </div>

            <div class="dcf-input-checkbox" id="parking-checkbox" hidden='hidden'>
                <input type="checkbox" name="parking-fine" id="parking-fine">
                <label for="parking-fine">I UNDERSTAND THAT I MUST EMAIL “UNLPTS@UNL.EDU" AND REQUEST “RECIPROCAL PARKING AT NIC”. FAILURE TO DO SO WILL RESULT IN UP TO A $64.00 TICKET EACH VISIT.</label>
            </div>
            
            <div class="dcf-form-group">
                <div id="vehicle-info">
                <h6>Vehicle #1</h6>
                    <div class="dcf-form-group">
                        <label for="license-plate1">Vehicle License Plate</label>
                        <input type="text" id="license-plate1" name="license_plate1"/>
                    </div>

                    <div class="dcf-form-group">
                        <label for="state1">Vehicle State</label>
                        <input type="text" id="state1" name="state1"/>
                    </div>

                    <div class="dcf-form-group">
                        <label for="make1">Vehicle Make</label>
                        <input type="text" id="make1" name="make1"/>
                    </div>

                    <div class="dcf-form-group">
                        <label for="model1">Vehicle Model</label>
                        <input type="text" id="model1" name="model1"/>
                    </div>
                <h6>Vehicle #2</h6>
                    <div class="dcf-form-group">
                        <label for="license-plate2">Vehicle License Plate</label>
                        <input type="text" id="license-plate2" name="license_plate2"/>
                    </div>

                    <div class="dcf-form-group">
                        <label for="state2">Vehicle State</label>
                        <input type="text" id="state2" name="state2"/>
                    </div>

                    <div class="dcf-form-group">
                        <label for="make2">Vehicle Make</label>
                        <input type="text" id="make2" name="make2"/>
                    </div>

                    <div class="dcf-form-group">
                        <label for="model2">Vehicle Model</label>
                        <input type="text" id="model2" name="model2"/>
                    </div>
                <h6>Vehicle #3</h6>
                    <div class="dcf-form-group">
                        <label for="license-plate3">Vehicle License Plate</label>
                        <input type="text" id="license-plate3" name="license_plate3"/>
                    </div>

                    <div class="dcf-form-group">
                        <label for="state3">Vehicle State</label>
                        <input type="text" id="state3" name="state3"/>
                    </div>

                    <div class="dcf-form-group">
                        <label for="make3">Vehicle Make</label>
                        <input type="text" id="make3" name="make3"/>
                    </div>

                    <div class="dcf-form-group">
                        <label for="model3">Vehicle Model</label>
                        <input type="text" id="model3" name="model3"/>
                    </div>
                </div>
            </div>

            <div class="dcf-input-checkbox">
                <input type="checkbox" name="vehicle-update" id="vehicle-update" required>
                <label for="vehicle-update">I UNDERSTAND I MUST UPDATE VEHICLE INFORMATION AS CHANGES OCCUR.</label>
            </div>

            <div class="dcf-form-group">
                <h6>Primary Emergency Contact</h6>
                <div class="dcf-form-group">
                    <label for="name1">Name</label>
                    <input type="text" id="name1" name="name1" required/>
                </div>

                <div class="dcf-form-group">
                    <label for="relationship1">Relationship</label>
                    <input type="text" id="relationship1" name="relationship1" required/>
                </div>

                <div class="dcf-form-group">
                    <label for="primary-phone1">Primary Phone Number</label>
                    <input type="text" id="primary_phone1" name="primary_phone1" required/>
                </div>

                <div class="dcf-form-group">
                    <label for="secondary_phone1">Secondary Phone Number</label>
                    <input type="text" id="secondary_phone1" name="secondary_phone1"/>
                </div>
            </div>

            <div class="dcf-form-group">
                <h6>Secondary Emergency Contact</h6>
                <div class="dcf-form-group">
                    <label for="name2">Name</label>
                    <input type="text" id="name2" name="name2"/>
                </div>

                <div class="dcf-form-group">
                    <label for="relationship2">Relationship</label>
                    <input type="text" id="relationship2" name="relationship2"/>
                </div>

                <div class="dcf-form-group">
                    <label for="primary-phone2">Primary Phone Number</label>
                    <input type="text" id="primary_phone2" name="primary_phone2"/>
                </div>

                <div class="dcf-form-group">
                    <label for="secondary_phone2">Secondary Phone Number</label>
                    <input type="text" id="secondary_phone2" name="secondary_phone2"/>
                </div>
            </div>

            <form action="/verify">
                <div>
                    <%= recaptcha %>
                </div>
                <div>
                    <button class="dcf-mt-3 dcf-btn dcf-btn-primary" type="submit">Sign Up</button>
                </div>
            </form>
        </fieldset>
    </div>
</form>

<% append_script_declaration("WDN.initializePlugin('datepickers');") %>
<% append_script_declaration(%q[require(['jquery'], function($) {
    $(document).ready(function() {
        $('#unl-asso-yes').click(function (click) {
            $('#unl-permit').removeAttr('hidden');
        });
        $('#unl-asso-no').click(function (click) {
            $('#unl-permit').attr('hidden','hidden');
            $('input[name=unl-permit-option]').prop('checked',false);
            const perimeter = $('#unl-perimeter').attr('hidden');
            if (typeof perimeter == 'undefined' || perimeter == false) {
                $('#unl-perimeter').attr('hidden','hidden');
                $('input[name=unl-perim-option]').prop('checked',false);
            }
            const garage = $('#unl-garage').attr('hidden');
            if (typeof garage == 'undefined' || garage == false) {
                $('#unl-garage').attr('hidden','hidden');
                $('input[name=unl-garage-option]').prop('checked',false);
            }
            const parkingCheckbox = $('#parking-checkbox').attr('hidden');
            if (typeof parkingCheckbox == 'undefined' || garage == false) {
                $('#parking-checkbox').attr('hidden','hidden');
                $('#parking-fine').removeAttr('required');
                $('input[name=parking-fine]').prop('checked',false);
            }
        });
        $('#unl-permit-yes').click(function (click) {
            $('#unl-perimeter').removeAttr('hidden');
        });
        $('#unl-permit-no').click(function (click) {
            $('#unl-perimeter').attr('hidden','hidden');
            $('input[name=unl-perim-option]').prop('checked',false);
            const garage = $('#unl-garage').attr('hidden');
            if (typeof garage == 'undefined' || garage == false) {
                $('#unl-garage').attr('hidden','hidden');
                $('input[name=unl-garage-option]').prop('checked',false);
            }
            const parkingCheckbox = $('#parking-checkbox').attr('hidden');
            if (typeof parkingCheckbox == 'undefined' || garage == false) {
                $('#parking-checkbox').attr('hidden','hidden');
                $('#parking-fine').removeAttr('required');
                $('input[name=parking-fine]').prop('checked',false);
            }
        });
        $('#unl-perim-no').click(function (click) {
            $('#unl-garage').removeAttr('hidden'); 
        });
        $('#unl-perim-yes').click(function (click) {
            $('#unl-garage').attr('hidden','hidden');
            $('input[name=unl-garage-option]').prop('checked',false);
            const parkingCheckbox = $('#parking-checkbox').attr('hidden');
            if (typeof parkingCheckbox == 'undefined' || garage == false) {
                $('#parking-checkbox').attr('hidden','hidden');
                $('#parking-fine').removeAttr('required');
                $('input[name=parking-fine]').prop('checked',false);
            }
        });
        $('#unl-garage-yes').click(function (click) {
            $('#parking-checkbox').removeAttr('hidden');
            $('#parking-fine').attr('required','required');
        });
        $('#unl-garage-no').click(function (click) {
            $('#parking-checkbox').attr('hidden','hidden');
            $('#parking-fine').removeAttr('required');
            $('input[name=parking-fine]').prop('checked',false);
        });
    });
});]) %>