<h2 class="dcf-txt-h4 dcf-mt-6">Update Vehicle Information</h2>
<form class="dcf-form" action="" method="POST">
<section class="dcf-grid-full dcf-grid-halves@sm dcf-col-gap-vw">
<div>
    <div class="dcf-form-group">
        <label for="license-plate">Vehicle License Plate</label>
        <input type="text" id="license-plate" name="license_plate" value="<%= vehicle.license_plate %>" />
    </div>

    <div class="dcf-form-group">
        <label for="state">Vehicle State</label>
        <input type="text" id="state" name="state" value="<%= vehicle.state %>" />
    </div>

    <div class="dcf-form-group">
        <label for="make">Vehicle Make</label>
        <input type="text" id="make" name="make" value="<%= vehicle.make %>" />
    </div>

    <div class="dcf-form-group">
        <label for="model">Vehicle Model</label>
        <input type="text" id="model" name="model" value="<%= vehicle.model %>" />
    </div>

    <input type="hidden" name="user_id" id="user_id" value="<%= user_id %>" />

    <button type="submit" class="dcf-btn dcf-btn-primary">Save</button>
</div>
</section>
</form>
