<div id="pagetitle">
	<h3>Reserve Time on <%= tool.name %></h3>
</div>

<form action="" method="POST">
<section class="wdn-grid-set">
    <div class="bp1-wdn-col-one-third">
    	<label for="date">Date</label>
    	<div class="date-time-select">
    	<span class="wdn-icon-calendar"></span>
        <input style="width: 90%;" id="date" name="date" title="Reservation Date" type="text" class="datepicker" value="<%= Time.now.strftime('%m/%d/%Y') %>" />
        </div>
    </div>
    <div class="bp1-wdn-col-one-third">
    	<label>Schedule for <span id="current-date"><%= Time.now.strftime('%m/%d/%Y') %></span></label>
    	<div>

    	</div>
    </div>
    <div class="bp1-wdn-col-one-third">
    	<label for="start-time-hour" >Start Time</label>
        <div class="date-time-select">
            <select style="width: 30%" id="start-time-hour" name="start_time_hour" title="Start Time Hour">
                <option value=""></option>
                <% (1..12).each do |i| %>
                <option value="<%= i %>"><%= i %></option>
                <% end %>
            </select> : 

            <select style="width: 30%" id="start-time-minute" name="start_time_minute" title="Start Time Minute">
                <option value=""></option>
                <% (0..11).each do |i| %>
                <option value="<%= i * 5 %>"><%= (i*5).to_s.rjust(2, '0') %></option>
                <% end %>
            </select>

            <div id="start-time-am-pm" class="am_pm">
                <input id="start-time-am-pm-am" title="AM" type="radio" value="am" name="start_time_am_pm">AM<br>
                <input id="start-time-am-pm-pm" title="PM" type="radio" value="pm" name="start_time_am_pm">PM
            </div>
        </div>

        <label for="reservation-length">Reserve machine for:</label>
        <select id="reservation-length" name="length">
        	<% (1..4).each do |i| %>
        	<option value="<%=i*15%>"><%=i*15%> minutes</option>
        	<% end %>
        	<option value="90">1.5 hours</option>
        	<option value="120">2 hours</option>
        </select>
        <br><br>
        <button type="submit" class="wdn-button wdn-button-brand">Reserve</button>
    </div>
</section>
</form>

<script type="text/javascript">
WDN.initializePlugin('jqueryui', [function() {  
    $ = require('jquery');
    $('.datepicker').datepicker();
    $("LINK[href='//unlcms.unl.edu/wdn/templates_4.0/scripts/plugins/ui/css/jquery-ui.min.css']").remove();
}]);
</script>