<% 
start_hour = nil
start_minute = nil
start_am_pm = nil
unless reservation.nil?
    start_hour = reservation.start_time.in_time_zone.hour
    if start_hour >= 12
        start_hour -= 12
        start_am_pm = 'pm'
    else
        start_am_pm = 'am'
    end
    start_hour += 12 if start_hour == 0
    start_minute = reservation.start_time.in_time_zone.min
end %>

<div id="pagetitle">
	<h3><%= reservation.nil? ? 'Reserve Time on ' : 'Edit Reservation for ' %><%= tool.name %></h3>
</div>

<form action="" method="POST">
<section class="wdn-grid-set">
    <div class="bp1-wdn-col-one-third">
    	<label for="date">Date</label>
    	<div class="date-time-select">
    	<span class="wdn-icon-calendar"></span>
        <input style="width: 90%;" id="date" name="date" title="Reservation Date" type="text" class="datepicker" value="<%= day.strftime('%m/%d/%Y') %>" />
        </div>
    </div>
    <div class="bp1-wdn-col-one-third">
    	<label>Schedule for <span id="current-date"><%= day.strftime('%m/%d/%Y') %></span></label>
        <div class="calendar-container individual-day">
            <div class="time-labels">
                <div class="time-chart">
                    <% (12..47).each do |j| %>
                        <div class="calendar-half-hour">
                            <label><%= "#{(j / 2) % 12 + (j==24?12:0)} #{j>=24?'PM':'AM'}" if j % 2 == 0 %></label>
                        </div>
                    <% end %>
                </div>
            </div>
            <% slots = [0] * 36 %>
            <div class="calendar-day" data-day="<%= day.strftime("%Y/%m/%d") %>">
                <label class="day-header"><%= day.strftime("%^a %-m/%d") %></label>
                <div class="day-chart" title="Open">
                    <% reservations.each do |res| %>
                        <% end_slot = [(((res.end_time.in_time_zone - day.midnight) / 60 - 360) / 30).floor, 35].min 
                        if end_slot < 0
                            next
                        end
                        top = (((res.start_time.in_time_zone - day.midnight) / 60 - 360) / 30) * 20
                        height = res.length * 20 / 30
                        %>
                        <div class="reservation <%= 'editing' if reservation.id == res.id %>" 
                            style="top: <%= top %>px; height: <%= height %>px;">
                            <%= res.user_id == @user.id ? 'My Reservation' : 'busy' %>
                            <%= '(Editing)' if reservation.id == res.id %>
                        </div>
                    <% end %>
                    <% unless space_hour.nil? 
                        # figure out where the closed divs need to be
                        # we can assume that all records in this space_hour are non-intertwined
                        closed_start = 0
                        closed_end = 0
                        starts = space_hour.hours.map{|record| record[:start]}
                        ends = space_hour.hours.map{|record| record[:end]}
                        %> <%
                        closeds = []
                        (360..1439).each do |j|
                            if starts.include?(j)
                                closed_end = j
                                closeds << [closed_start, closed_end]
                                closed_start = 0
                                closed_end = 0
                            end
                            if ends.include?(j)
                                closed_start = j
                            end
                        end 
                        closed_end = 1440
                        closeds << [closed_start, closed_end]

                        closeds.each do |closed|
                            start_time = closed[0] %>
                            <% end_time = closed[1] %>
                            <% 
                            if [((end_time - 360) / 30).floor, 35].min  < 0
                                next
                            end
                            top = ((start_time - 360) / 30) * 20
                            height = (end_time - start_time) * 20 / 30
                            if top < 0
                                height += top
                                top = 0
                            end 
                            if top + height > 720
                                height = 720 - top
                            end
                            %>
                            <div class="status closed" title="Closed" style="top: <%= top %>px; height: <%= height %>px;">
                                &nbsp;
                            </div>
                            <%
                        end %>
                        <% space_hour.hours.each do |record| %>
                            <% if record[:status] != 'open' && record[:status] != 'closed' %>
                                <% start_time = record[:start] %>
                                <% end_time = record[:end] %>
                                <% if [((end_time - 360) / 30).floor, 35].min  < 0
                                    next
                                end
                                top = ((start_time - 360) / 30) * 20
                                height = (end_time - start_time) * 20 / 30
                                if top < 0
                                    height += top
                                    top = 0
                                end 
                                if top + height > 720
                                    height = 720 - top
                                end
                                %>
                                <div title="<%= record[:status].split('_').join(' ').capitalize_all %>" class="status <%= record[:status].downcase.split('_').join('-') %>" style="top: <%= top %>px; height: <%= height %>px;">
                                    &nbsp;
                                </div>
                            <% end %>
                        <% end %>
                    <% end %>
                    <div>
                    <% (12..47).each do |j| %>
                        <div class="calendar-half-hour">
                            &nbsp;
                        </div>
                    <% end %>
                    </div>
                </div>
            </div>
    	</div>
    </div>
    <div class="bp1-wdn-col-one-third">
    	<label for="start-time-hour" >Start Time</label>
        <div class="date-time-select">
            <select style="width: 30%" id="start-time-hour" name="start_time_hour" title="Start Time Hour">
                <option value=""></option>
                <% (1..12).each do |i| %>
                <option <%= 'selected="selected"' if i == start_hour %> value="<%= i %>"><%= i %></option>
                <% end %>
            </select> : 

            <select style="width: 30%" id="start-time-minute" name="start_time_minute" title="Start Time Minute">
                <option value=""></option>
                <% (0..11).each do |i| %>
                <option <%= 'selected="selected"' if i*5 == start_minute %> value="<%= i * 5 %>"><%= (i*5).to_s.rjust(2, '0') %></option>
                <% end %>
            </select>

            <div id="start-time-am-pm" class="am_pm">
                <input <%= 'checked="checked"' if start_am_pm == 'am' %> id="start-time-am-pm-am" title="AM" type="radio" value="am" name="start_time_am_pm">AM<br>
                <input <%= 'checked="checked"' if start_am_pm == 'pm' %> id="start-time-am-pm-pm" title="PM" type="radio" value="pm" name="start_time_am_pm">PM
            </div>
        </div>

        <label for="reservation-length">Reserve machine for:</label><br>
        <% if tool.minutes_per_reservation.nil? %>
        <select id="reservation-length" name="length">

        	<% (1..4).each do |i| %>
        	<option value="<%=i*15%>"><%=i*15%> minutes</option>
        	<% end %>
        	<option value="90">1.5 hours</option>
        	<option value="120">2 hours</option>
        </select>
        <% else %>
        <input style="width: 50px" disabled="disabled" value="<%= tool.minutes_per_reservation %>" />&nbsp;&nbsp;<label>minutes</label>
        <input type="hidden" name="length" value="<%= tool.minutes_per_reservation %>" />
        <% end %>
        <br><br>
        <button type="submit" class="wdn-button wdn-button-brand"><%= reservation.nil? ? 'Reserve' : 'Update' %></button>
    </div>
</section>
</form>

<script type="text/javascript">
WDN.initializePlugin('jqueryui', [function() {  
    $ = require('jquery');
    $('.datepicker').datepicker();
    $("LINK[href^='//unlcms.unl.edu/wdn/templates_4.0/scripts/plugins/ui/css/jquery-ui.min.css']").remove();
}]);
</script>