<h1 class="dcf-txt-h3" id="tools-list-table">Tools You Can Reserve</h1>

<% if available_tools.count > 0 %>
<table class="dcf-table dcf-table-striped dcf-table-responsive dcf-mt-6 dcf-mb-6" aria-describedby="tools-list-table">
    <thead>
        <tr>
            <th scope="col">Category</th>
            <th scope="col">Tool</th>
            <th scope="col">Model</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
    <% available_tools.each do |tool| %>
        <tr>
            <td>
                <%= tool.category_name %>
            </td>
            <td>
                <%= tool.name %>
            </td>
            <td>
                <%= tool.model %>
            </td>
            <td class="table-actions">
                <% if tool.is_reservable %>
                    <a href="/tools/<%= tool.id %>/reserve/" class="dcf-btn dcf-btn-primary"><%= @user.meets_resource_reservation_limit?(tool.id) ? 'Reserve Time' : 'View Reservations' %></a>
                <% else %>
                    Reservation not required
                <% end %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
<% else %>
<p>
    There are no tools currently available for you to reserve. To reserve a tool, you must have
    completed a training on that machine. Perhaps you'd like to <a href="/tools/trainings/">sign up for some upcoming trainings</a>?
</p>
<% end %>
