<h1 id="home-header" class="dcf-txt-h3">Tours</h1>

<p>
<strong>Welcome to the Nebraska Innovation Studio!</strong><br>
We'd love to show you around. Check out our tours below and sign up to attend! 
No membership or sign-in is necessary.
</p>

<% if events.count > 0 %>
<div class="event-page">
    <table class="dcf-w-100% dcf-table dcf-table-bordered" aria-describedby="home-header">
        <thead class="small-hidden">
            <tr>
                <th>Title</th>
                <% if SS_ID == 1 %>
                    <th>Shop Area</th>
                <% end %>
                <th>Date/Location</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        <% events.each do |event| %>
            <tr>
                <td class="small-hidden">
                    <%= event.title %>
                </td>
                <% if SS_ID == 1 %>
                    <td>
                        <%= event.area.nil? ? 'General' : event.area %>
                    </td>
                <% end %>
                <td>
                    <div class="small-block hidden calendar-event-title">
                        <%= event.title %>
                    </div>
                    <ul>
                        <li>
                            <%= event.start_time.in_time_zone.strftime('%m/%d/%Y @ %l:%M %P') %><br>
                            <%= event.location.name %>
                        </li>
                    </ul>
                </td>
                <td>
                    <a class="dcf-btn dcf-btn-primary" href="/tours/sign_up/<%= event.id %>/">Sign Up!</a>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>
<% else %>
<p>
There are no tours scheduled right now. Please check back again soon!
</p>
<% end %>