<div class="event-page">
    <h4 id="adv-skill-based-workshops-table">Advanced Skill-Based Workshops</h4>
    <table aria-describedby="adv-skill-based-workshops-table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Date/Location</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        <% events_advanced.each do |event| %>
            <tr>
                <td class="small-hidden">
                    <a href="<%= event.info_link %>"><%= event.title %></a>
                </td>
                <td>
                    <%= event.start_time.in_time_zone.strftime('%m/%d/%Y @ %l:%M %P') %><br>
                    <%= event.location.name %>
                </td>
                <td>
                <% if @user.signed_up_event_ids.include?(event.id) %>
                    Signed up!
                <% elsif !event.max_signups.nil? && event.signups.count >= event.max_signups %>
                    Event is full.
                <% else %>
                    <form class="inline-form" action="/workshops/sign_up/<%= event.id %>/" method="POST">
                        <button type="submit" class="dcf-btn dcf-btn-primary" href="/workshops/sign_up/<%= event.id %>/">Sign Up!</button>
                    </form>
                <% end %>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>

    <h4 id="creation-workshops-table" class="dcf-mt-4">Creation Workshops</h4>
    <table aria-describedby="creation-workshops-table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Date/Location</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        <% events_creation.each do |event| %>
            <tr>
                <td class="small-hidden">
                    <a href="<%= event.info_link %>"><%= event.title %></a>
                </td>
                <td>
                    <%= event.start_time.in_time_zone.strftime('%m/%d/%Y @ %l:%M %P') %><br>
                    <%= event.location.name %>
                </td>
                <td>
                <% if @user.signed_up_event_ids.include?(event.id) %>
                    Signed up!
                <% elsif !event.max_signups.nil? && event.signups.count >= event.max_signups %>
                    Event is full.
                <% else %>
                    Signup can be done somewhere else...
                <% end %>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>

    <h4 id="general-workshops-table" class="dcf-mt-4">General Workshops</h4>
    <table aria-describedby="general-workshops-table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Date/Location</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        <% events_general.each do |event| %>
            <tr>
                <td class="small-hidden">
                    <a href="<%= event.info_link %>"><%= event.title %></a>
                </td>
                <td>
                    <%= event.start_time.in_time_zone.strftime('%m/%d/%Y @ %l:%M %P') %><br>
                    <%= event.location.name %>
                </td>
                <td>
                <% if @user.signed_up_event_ids.include?(event.id) %>
                    Signed up!
                <% elsif !event.max_signups.nil? && event.signups.count >= event.max_signups %>
                    Event is full.
                <% else %>
                    <form class="inline-form" action="/workshops/sign_up/<%= event.id %>/" method="POST">
                        <button type="submit" class="dcf-btn dcf-btn-primary" href="/workshops/sign_up/<%= event.id %>/">Sign Up!</button>
                    </form>
                <% end %>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>
