<p>There was a new sign up for "<%= @event.title %>" that is at <strong><%= @event.start_time.in_time_zone.strftime('%A, %B %d at %l:%M %P') %></strong>.</p>
<p>The person who signed up is <strong><%= @name </strong> and their email is <a href="emailto:<%= @email %>"><%= @email %></a>.</p>